
<% boards.in_groups_of(2, false) do |row_boards| %>
	<div class="row">
	<% for board in row_boards %>
		<div class="col-md-6">
			<div class="board-listing">
				<div class="board-image">
				<%= link_to board_image(board, :large), room_path(board)%>
				</div>
				<div class="board-info">
					<div class="board-meta">
						<h3><%= link_to board.name, room_path(board) %></h3>
						<div class="">by <%= link_to board.designer.full_name, "/#{board.designer.username}"%></div>
					</div>
					<div class="board-action">
						<%= link_to "Shop Room", room_path(board) %>
						<p><%= board.products.size%> products</p>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	</div>
<% end %>