<h3>Choose paint swatches for your board</h3>
<% unless board.color_matches.reload.blank? %>

	<% board.color_matches.reload.each_with_index do |color_match,index| %>
		<% if color_match.color %>
		<div class="board-swatch color-match-link" id="add-colors-link-<%=index%>" data-match-id="1" data-color-match-id="<%=color_match.id%>">
			<div class="board-swatch-color" id="board-swatch-color-<%=index%>" style="background-color: #<%= color_match.color.hex_val%>"></div>
			<div class="board-swatch-content" id="board-swatch-content-<%=index%>">
				<h4><%= color_match.color.name %></h4>
				<%= color_match.color.swatch_val%>
				<a href="javascript:void(0);" class="color-match-delete-link" data-color-match-id="<%=color_match.id%>">delete</a>
			</div>
		</div>
		<% end %>
	<% end %>
<% end %>
<% start = board.colors.size + 1 %>
<% start.upto(5) do |num| %>

<div class="board-swatch color-match-link board-swatch-default" id="add-colors-link-<%=num%>" data-match-id="1" data-color-match-id="0">
	<div class="board-swatch-color" id="board-swatch-color-<%=num%>"></div>
	<div class="board-swatch-content" id="board-swatch-content-<%=num%>"></div>
</div>				
<% end %>


<%= render :partial => "/spree/boards/edit_board_colors_modal"%>
<%#= render :partial => "/spree/boards/edit_board_colors_modal_static"%>



<script>



$(document).ready(function() {
	
	$( ".swatch-vendor" ).click(function() {
		$('#color-preloader').removeClass('hidden')
		$('#color_swatches_container').addClass('hidden')
		url = '/color_collections/'+ $(this).data('vendorId') + '/colors'

		var getting = $.get( url );
		
		/* Put the results in a div */
		getting.done(function( data ) {
			
			//var content = $( data ).find( '#content' );
			//$( "#result" ).empty().append( content );
		});
	});
	
	


	$( ".color-match-link" ).click(function() {
	  	$( ".color-match-link" ).removeClass('active')
		$(this).addClass('active')
		$('#colors-modal').modal()
	});
	
	$( ".color-match-delete-link" ).click(function(event) {
		//stop the color popup modal from firing
		event.stopPropagation();
		url = '<%=room_color_matches_path(@board.id)%>'+'/'+$(this).data('colorMatchId')
		//alert($(this).data('colorMatchId'))

		/* Send the data using post */
		var posting = $.post( url, { _method:'delete' }, null, "script" );
		
		/* Put the results in a div */
		posting.done(function( data ) {
		});
	});

	


});

</script>