<div class="row">
  <div class="js-filter-search">
    <div class="checkbox">
      <%= check_box_tag :out_of_stock, 'out_of_stock', @board.show_out_of_stock, class: 'js-check-out-of-stock', data: {url: set_out_of_stock_in_room_rooms_path(slug: @board.slug, format: 'json')} %>
      Out of stock
    </div>

    <% Spree::Product::FILTERS.each do |filter| %>
        <%- if searcher.solr_search.present? and searcher.solr_search.facet(filter.to_sym).present? %>

            <% if generate_filter_select(searcher.solr_search.facet(filter.to_sym).rows.sort_by { |value| set_sort_filter(filter, value.value) }, params, filter.to_sym).present? %>
                <div class="filter-option-box col-md-3">
                  <%= select_tag filter.to_sym, options_for_select(generate_filter_select(searcher.solr_search.facet(filter.to_sym).rows.sort_by { |value| set_sort_filter(filter, value.value) }, params, filter.to_sym)), prompt: filter.gsub('filter_', '').capitalize, class: 'form-control js-select-filter-value' %>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <div class="js-filter-selected col-md-12">
      <% if params[:s].present? %>
          <% params[:s].each do |key, val| %>

              <% if key.to_s != "brand_name" %>
                  <% if val.class == [].class %>
                      <% val.each do |v| %>
                          <%= link_to product_result_rooms_path(define_params_filter(params, key, v, :s, true)), class: 'js-remove-filter-rooms my-btn-primary' do %>
                              <%= v %>
                              <i class="fa fa-close"></i>
                          <% end %>
                      <% end %>
                  <% else %>
                      <%= link_to product_result_rooms_path(define_params_filter(params, key, val, :s, true)), class: 'js-remove-filter-rooms my-btn-primary' do %>
                          <%= val %>
                          <i class="fa fa-close"></i>
                      <% end %>

                  <% end %>

              <% end %>


          <% end %>

      <% end %>

    </div>
  </div>
</div>