<% selected ||= "" %>
<ul class="nav nav-pills nav-stacked">
	<% if spree_current_user.is_board_designer? %>
	<li class="<%="active" if selected == "dashboard"%>"><a href="/dashboard"><i class="glyphicon glyphicon-th"></i> My Scout Rooms</a></li>
	<% end %>	
	<% if spree_current_user.is_board_designer? %>	
	<li class="<%="active" if selected == "profile"%>"><a href="/my_profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
	
	<li class="<%="active" if selected == "tutorial"%>"><a href="/video_tutorial"><i class="fa fa-video-camera"></i> Video Tutorial</a></li>
	<li class="<%="active" if selected == "tips"%>"><a href="/tips_tricks"><i class="fa fa-bolt"></i> &nbsp;Tips &amp; Tricks</a></li>
	<li class="<%="active" if selected == "suppliers"%>"><a href="/our_suppliers"><i class="fa fa-building-o"></i> &nbsp;Our Suppliers</a></li>

	<% end %>
  <li class="<%="active" if selected == "store_credit"%>"><a href="/my_store_credit"><i class="fa fa-money"></i> &nbsp; Store Credit</a></li>
</ul>