<% unless products.blank? %>
	<div class="select-products-box-inner">
		<% products.in_groups_of(3, false) do |row_products| %>
			<div class="row">
			<% for product in row_products %>
			<% is_bookmarked = product.is_bookmarked_by?(spree_current_user) %>
				<div class="col-md-4">
					<div id="board-product-select-<%= product.id %>" class="board-product-select">
						<div class="board-product-select-image">
                          <!--<div class="<%#= product.is_on_board? ? "board-lightbox-product-restricted" : "board-lightbox-product"%>" id="board-product-<%#= product.id %>" data-product-id="<%# product.id %>" id="<%# product.id %>" data-img-url="<%#product_board_image_url(product, "small")%>" data-product-permalink="<%#product.slug%>">-->
                          <div class="board-lightbox-product" id="board-sproduct-<%= product.id %>" data-product-id="<%= product.id %>" id="<%= product.id %>" data-img-url="<%=product_board_image_url(product, "small")%>" data-product-permalink="<%=product.slug%>">
								<div style="position: relative;">
									<a href="javascript:void(0);" class="button-remove-product" style="font-family: helvetica; font-size: 12px; line-height: 12px; font-weight: bold; background-color: #fff; padding: 4px 7px; border-width: 0 0 1px 1px; border-style: none; border-color: #ccc; right: 0px; top: 0; position: absolute; display: none;">x</a>
									<a href="javascript:void(0);" class="add-to-board-link" data-product-id="<%=product.slug %>">

									<%#= image_tag product.images.first.attachment.url(:thumb), {:style => "width: 100%; height: auto;", :class => 'board-lightbox-product-img cloudzoom', :"data-cloudzoom" => "zoomImage: '#{product.images.first.attachment.url(:original)}'"}%>
									<% if product.images.first %>
									<%= image_tag product.images.first.attachment.url(:thumb), {:class => 'board-lightbox-product-img'}%>
									<% elsif product.master.images.first%>
										<%= image_tag product.master.images.first.attachment.url(:thumb), {:class => 'board-lightbox-product-img'}%>
									<% end %>
									<%#= thumb_image(product, :itemprop => 'image', :class => "board-lightbox-product-img") %></a>
									
								</div>
								
							</div>
							<div class="meta">
								
								<div title="Bookmark this Product" class="product-results-meta bookmark-product-container <%= "hidden" if is_bookmarked %>"><a href="javascript:void(0);" class="bookmark-product bookmark-link bookmark-link-<%= product.id %>" data-product-id="<%= product.id %>"><i class="fa fa-heart-o"></i> Add to Favouries</a></div>
								
								<div title="Remove Bookmark for this Product" class="product-results-meta unbookmark-product-container <%= "hidden" unless is_bookmarked %>"><a href="javascript:void(0);" class="remove-bookmark-product unbookmark-link unbookmark-link-<%= product.id %>" data-product-id="<%= product.id %>"><i class="fa fa-heart"></i> Favouires</a></div>
								
								<% if false %>
								<div title="Available Inventory" class="product-results-meta available-inventory"><i class="fa fa-cubes"></i> Inventory: <%#= product.total_on_hand %></div>
								<% end %>
								
								<div title="Days to Ship" class="product-results-meta"><i class="fa fa-truck"></i> <%= product.master.display_days_to_ship %></div>
								<% if false %>
								<% if product.master.made_to_order?%>
									<div title="Made to Order" class="product-results-meta"><i class="fa fa-truck"></i> <%= product.master.display_made_to_order %> Made to Order</div>
								<% else %>
									<% if false %>
									<div title="Available Inventory" class="product-results-meta"><i class="fa fa-archive"></i> <%#= product.master.display_inventory %></div>
									<% end %>
								<% end %>
								<% end %>
								<%#= render :partial => "variant_popover"%>
								
								
								
							</div>
						</div>
						<% if false %>
						<div style="text-align: left;">      
						<%= truncate(product.name, :length => 50) %>
						      <div class="price selling" itemprop="price"><%= display_price(product) %></div>
						</div>
						<% end %>
					</div>
				</div>
			<% end %>
			</div>
		<% end%>
		
	
	</div>
<% else %>
	<p class="empty-search-state">We couldn't find any products for that search.</p>
<% end %>
