<div class="board-search">
	<h3>Search Boards</h3>
	<%= form_tag "/boards/search", :method => "get" do |f| %>
	<fieldset class="form">
		
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Room</label>
		    <div class="controls">
				<%= select_tag :room_id, options_from_collection_for_select(@room_taxons, "id", "name"), :include_blank => true %>
			</div>
		</div>
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Style</label>
		    <div class="controls">
				<%= select_tag :style_id, options_from_collection_for_select(@style_taxons, "id", "name"), :include_blank => true %>
			</div>
		</div>
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Color</label>
		    <div class="controls">
				<%= select_tag "color", options_from_collection_for_select(@colors, "id", "name", @color ? @color.id : ""), :include_blank => true %>
			</div>
		</div>
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Designer</label>
		    <div class="controls">
				<%= select_tag "designer_id", options_from_collection_for_select(@designers, "id", "full_name", @designer ? @designer.id : ""), :include_blank => true %>
			</div>
		</div>
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Price</label>
		    <div class="controls price-range">
				<%= select_tag "price_low", options_for_select([["$10","10"], ["$50","50"], ["$100","100"], ["$200","200"], ["$500","500"], ["$1000","1000"], ["$5000","5000"]]), :include_blank => true %> to <%= select_tag "price_high", options_for_select([["$50","50"], ["$100","100"], ["$200","200"], ["$500","500"], ["$1,000","1000"], ["$5,000","5000"], ["$10,000","10000"]]), :include_blank => true %>
			</div>
		</div>
		<p><%= submit_tag("Search Boards")%></p>
	</fieldset>
	<% end %>
</div>