<div class="row js-category-filter" data-product-url="<%= product_result_rooms_path(s: {brand_name: params[:s][:brand_name]}, format: 'html') if params[:s].present? %>">

  <% if category.present? %>
      <div class="col-md-3">
        <% if category_id.present? %>
            <%= select_tag "department_taxon", options_for_select(category, category_id.id), data: {type: 'categories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room" %>
        <% else %>
            <%= select_tag "department_taxon", options_for_select(category), data: {type: 'categories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room", :prompt => "Category" %>
        <% end %>
      </div>
  <% end %>
  <% if subcategory.present? %>
      <div class="col-md-3">
        <% if  subcategory_id.present? %>
            <%= select_tag "department_taxon", options_for_select(subcategory, subcategory_id.id), data: {type: 'subcategories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room", :prompt => "Sub-Category" %>
        <% else %>
            <%= select_tag "department_taxon", options_for_select(subcategory), data: {type: 'subcategories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room", :prompt => "Sub-Category" %>
        <% end %>
      </div>
  <% end %>
  <% if sub_subcategory.present? %>
      <div class="col-md-3">
        <% if sub_subcategory_id.present? %>
            <%= select_tag "department_taxon", options_for_select(sub_subcategory, sub_subcategory_id.id), data: {type: 'sub_subcategories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room", :prompt => "Sub-Category" %>
        <% else %>
            <%= select_tag "department_taxon", options_for_select(sub_subcategory), data: {type: 'sub_subcategories'}, :include_blank => false, :class => "form-control input-sm js-select-taxon-room", :prompt => "Sub-Category" %>
        <% end %>
      </div>
  <% end %>
  <div class="col-md-3">
    <% if suppliers.present? %>
        <%= select_tag "supplier_id", options_for_select(suppliers), :include_blank => false, :class => "form-control input-sm js-select-supplier-id", :prompt => "Brands" %>
    <% end %>
  </div>
  <div class="col-md-3">

  </div>


</div>
<div class="filters-taxon-show" data-room-id="<%= @room_id %>">
  <%= render partial: 'board_solr_filter', locals: {taxon_filters: taxon_filters, board: board, searcher: searcher} %>
</div>