
<div id="publish-board-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	<%= form_for @board, {:url => room_path(@board)} do |f| %>
	<%= f.hidden_field :status, :value => "submitted_for_publication"%>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
		<h4 class="modal-title">Publish Your Board</h4>
		
      </div>
		
      <div class="modal-body">
		<p>When you submit your board to be published, it goes to the Scout & Nimble staff to review it for product availability.    We might make suggestions for substitutions if we find an item does not have sufficient inventory.</p>
		<%= f.fields_for :messages do |message| %>
		<% if message.object.new_record? %>
		<div class="form-group">
			
			<%= f.label :body, "Would you like to include any questions or comments about this board?" %>
			<%= message.text_area :body, {:class => 'form-control', :rows => 5} %>
			<%= message.hidden_field :sender_id %>
			<%= message.hidden_field :recipient_id %>
			<%= message.hidden_field :subject %>
			<%= f.error_message_on :description %>
		</div>
		<% end %>
		<% end %>
      </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<%= submit_tag("Submit to Publish", :class => "btn btn-primary")%>
	</div>
	
	
	
	<% end %>
      
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->