<div class="columns sixteen alpha">
	<div class="page-header clearfix">
		<h1><%= @board.name %></h1>
	</div>
</div>

<div class="columns sixteen alpha omega">
	<ul class="nav nav-tabs">
	  <li><%= link_to "Details", edit_board_path(@board)%></li>
	  <li class="active"><%= link_to "Design", build_board_path(@board)%></li>
	</ul>
	<div class="board-content-container">
		<div class="board-content-header">
			<h4>Find Products and add them to your Board.</h4>
		</div>
		<div class="board-content-body">
			<div class="board-product-search">
				<%= form_tag("/boards/product_search", method: "get", :id => "product_search_form") do %>
					<table cellspacing="0" cellpadding="0" border="0">
						<tr>
							<th>Search by keyword</th>
							<th>Wholesaler</th>
							<th colspan="3">Department</th>
						</tr>
						<tr>
							<td><input type="text" id="product_keywords" name="product_keywords"></td>
							<td><%= select_tag "wholesaler_taxon", options_from_collection_for_select(@wholesaler_taxons, "id", "name"), :include_blank => true %></td>
							<td><%= select_tag "department_taxon", options_from_collection_for_select(@department_taxons, "id", "name"), :include_blank => true %></td>
							<td><%= submit_tag("Search")%></td>
							<td class="pagination" style="width: 250px;"><div id="select-products-pagination"></div></td>
						</tr>
					</table>
				<% end %>
			</div>
			<div id="board-container">
			<div id="select-products-box" class="select-products-box">
		
			</div>
	
			<label>Your Canvas</label>
			<div id="board-canvas" data-board-id="<%= @board.id %>" style="height: 400px; width: 700px; background-color: #fff; border: 1px dashed #bdc3c7; position: relative; z-index: 1; "></div>
			</div>
		</div>
	</div>
</div>
	
<style>
	.board-product-selected{
		border: 2px solid #aaa;
		margin: -2px 0 0 -2px;
	}
	.light-box-product-unavailable{
		border: 1px solid red;
	}
</style>

<script>


$(function () {
    var element;
    
    $('#board-canvas').droppable({
        accept: function(element) {
		  var cn = element.className;
		  return cn == 'board-lightbox-product' || 'board-lightbox-product-cloned'
		},
        drop: handleDropEvent
    });
	getSavedProducts($('#board-canvas').data('boardId'));
	
	
	/* attach a submit handler to the form */
	$("#product_search_form").submit(function(event) {

		/* stop form from submitting normally */
		event.preventDefault();

		/* get some values from elements on the page: */
		var $form = $( this ),
		term = $form.find( 'input[name="product_keywords"]' ).val(),
		wholesaler_taxon = $form.find( 'select[name="wholesaler_taxon"]' ).val(),
		department_taxon = $form.find( 'select[name="department_taxon"]' ).val(),
		url = $form.attr( 'action' );
		
		//alert(taxon);
		/* Send the data using post */
		var posting = $.post( url, { keywords: term, department_taxon_id: department_taxon, wholesaler_taxon_id: wholesaler_taxon, per_page: 100 } );

		/* Put the results in a div */
		posting.done(function( data ) {
			//var content = $( data ).find( '#content' );
			//$( "#result" ).empty().append( content );
		});
	});
	
});
</script>
