
	<div class="manage-container">
		<div class="board-design-section board-design-section-canvas">
			<div class="board-design-section-title">
				<span class="board-design-step">1</span> Design Your Room
			</div>
			<div class="row">
				<div class="col-md-7">
					<div class="board-content-body">
						<div id="board-container">
							<div id="board-toolbar" class="board-toolbar">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default" id="bp-rotate-left"><span class="fa fa-repeat" style="font-size: 12px;"></span> Rotate</button>
									<button type="button" class="btn btn-default" id="bp-move-forward"><span class="fa fa-angle-up" style="font-size: 12px;"></span> Forward</button>
									<button type="button" class="btn btn-default" id="bp-move-backward"><span class="fa fa-angle-down" style="font-size: 12px;"></span> Backward</button>
									<button type="button" class="btn btn-default" id="bp-move-front"><span class="fa fa-angle-double-up" style="font-size: 12px;"></span> Front</button>
									<button type="button" class="btn btn-default" id="bp-move-back"><span class="fa fa-angle-double-down" style="font-size: 12px;"></span> Back</button>
								</div>
							</div>	
													
							<div id="board-canvas" style="margin-bottom: 20px; position:relative;">
								<canvas id="canvas" data-board-id="<%= @board.id %>" width="630" height="360" style="border: 1px solid #eee;"></canvas>
							</div>
						</div>
						
						<div id="board-product-preview" style=" height: 180px; border: 1px solid #eee;">
							
						</div>
						
					</div>		
				</div>
				<div class="col-md-5">
					
					<div id="product_lightbox">
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#search_pane" data-toggle="tab">Find Products</a></li>
					  <li><a href="#bookmarks" id="bookmarks_tab" data-toggle="tab">Favouries</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
					  <div class="tab-pane active" id="search_pane">
					  		<div id="design" class="tab-pane active board-manage-panel">
								<div id="board_search_panel" class="">
									<div class="board-products-search-fields">
										<%= form_tag("/rooms/product_search", method: "get", :id => "product_search_form") do %>
											<div class="row">
												<div class="col-md-3">
													<%= select_tag "supplier_id", options_from_collection_for_select(@suppliers, "id", "name"),:include_blank => false, :class => "form-control input-sm", :prompt => "Wholesaler" %>
												</div>
												<div class="col-md-3">
													<%= select_tag "department_taxon", options_from_collection_for_select(@department_taxons, "id", "name"), :include_blank => false, :class => "form-control input-sm", :prompt => "Department" %>
												</div>
												<div class="col-md-3">

													<input type="text" id="product_keywords" name="product_keywords" class="form-control input-sm" placeholder="Keywords">
												</div>
												<div class="col-md-3">
													<%= submit_tag("Search", :class => "btn btn-primary btn-sm")%>
												</div>
											</div>
										<% end %>
									</div>
									<div id="select-products-pagination" class="select-products-pagination"></div>
									<div id="products-preloader" class="hidden" style="padding-top: 20px; text-align: center;"><%= image_tag("frontend/preloader64.gif")%></div>
									<div id="select-products-box" class="select-products-box">							
										<div class="board-search-empty-state">Search for products above and drag them onto your board.</div>
									</div>
								</div>
							</div>
					  </div>
					  <div class="tab-pane" id="bookmarks">
						<div class="tab-pane active board-manage-panel">
							<div id="" class="">
								<div id="bookmarks-pagination" class="select-products-pagination"></div>		
								<div id="select-bookmark-products-box" class="select-products-box">	
									<div id="bookmark-preloader" class="hidden" style="padding-top: 20px; text-align: center;"><%= image_tag("frontend/preloader64.gif")%></div>
									<div id="bookmarks_container">
										<%#= render :partial => "product_results", :locals => {:products => @bookmarked_products}%>
								</div>
							</div>
						</div>
							
							
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="board-design-section">
			<div class="board-design-section-title">
				<span class="board-design-step">
					2
				</span> Add color swatches
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div id="board-colors-container" class="board-colors-container">
					<input type="hidden" id="board_id" name="board_id" value="<%=params[:id]%>" /> 
						<%= render :partial => "board_swatches", :locals => {:board => @board} %>
					</div>
				</div>
			</div>
		</div>
	
		<div class="board-design-section board-design-section-last">
			<div class="board-design-section-title">
				<span class="board-design-step">
					3
				</span> Room Details
			</div>
			<%= form_for(@board, {:url => room_path(@board),:html => {:id => "edit_board_form", :"parsley-validate" => ""}}) do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			
			<% end %>
		</div>
	</div>
	<div class="manage-board-footer">
		<%= link_to "Cancel", designer_dashboard_path, :class => "btn btn-default" %>
		<%= link_to "Save Changes", "javascript:void(0);", :class => "btn btn-primary", :id => "submit_board_button" %>
		
		
		<% if false %>
		<a href="javascript:void(0);" id="publish_room_button" class="btn btn-primary" data-toggle="popover" data-placement="left" title="" data-content="You've got your room looking preeettty nice and now you're ready to show the world.  You have come to the right place.  However, during this beta period we have turned publishing off.  However, you can preview what your room will look like by saving it and clicking the Preview button." data-original-title="Ready to Publish?">Save and Publish</a>
		<% end%>
		
	</div>


<%= render :partial => "variant_options_modal" %>

<style>
	.board-product-selected{
		border: 2px solid #aaa;
		margin: -2px 0 0 -2px;
	}
	.light-box-product-unavailable{
		border: 1px solid red;
	}
</style>




<script>



$(document).ready(function() {
	initializeBoardManagement();
	
	$('.swatch').popover({ 
		html : true,
	    content: function() {
			//$('.button-product-info').popover('hide');
			return $('#'+$(this).data('colorPopoverContainer')).html();
		}
	});

	<% if @board.status == "submitted_for_publication" %>
		$( "#add-products-button" ).click(function() {
		  $('#product-locked-modal').modal()
		});
	<% else %>
		$( "#add-products-button" ).click(function() {
		  $('#product-modal').modal()
		});
	<% end %>

	$( "#edit-board-button" ).click(function() {
	  $('#board-modal').modal()
	});

	$('#publish_room_button').popover()
	
	$('#bookmarks_tab').on('shown.bs.tab', function (e) {
		getProductBookmarks()
	})
	
	//$('#bookmarks_tab').on('shown.bs.tab', function (e) {
	//  getProductBookmarks()
	//	//e.target // activated tab
	//  //e.relatedTarget // previous tab
	//})
	
});



<% if false %>
$( "#supplier_id" ).change(function () {
	var str = "";
	$( "#supplier_id option:selected" ).each(function() {
	  str += $( this ).val();
	       $.ajax({
		        type: "GET",
		        url: "/rooms/gettaxons",
		        data: "supplier_id="+str,
		        success: function(msg){ 
					
					// alert(msg)
					var $el = $("#department_taxon");
					$el.empty();
					$el.append($("<option></option>").text('Department'));
					// remove old options
					$.each(msg, function(key, value) {
						$el.append($("<option></option>").attr("value", value[1]).text(value[0]));
					});
		         }
		      });
	});
	
  });
<% end %>	

var canvas = new fabric.Canvas('canvas');


//function preventLeaving(e) {
//    var activeObject = e.target;
//    if ((activeObject.get('left') - (activeObject.get('width') * activeObject.get('scaleX')  / 2) < 0))
//        activeObject.set('left', activeObject.get('width') * activeObject.get('scaleX')  / 2); 
//    if ((activeObject.get('top') - (activeObject.get('height') * activeObject.get('scaleY')  / 2) < 0))
//        activeObject.set('top', activeObject.get('height') * activeObject.get('scaleY')  / 2);
//    if (activeObject.get('left') + (activeObject.get('width') * activeObject.get('scaleX')  / 2) > canvas.getWidth())
//    {
//        var positionX = canvas.getWidth() - (activeObject.get('width') * activeObject.get('scaleX'))  / 2;
//        activeObject.set('left', positionX > canvas.getWidth() / 2 ? positionX : canvas.getWidth() / 2);
//    }
//    if (activeObject.get('top') + (activeObject.get('height') * activeObject.get('scaleY') / 2) > canvas.getHeight())
//    {
//        var positionY = canvas.getHeight() - (activeObject.get('height') * activeObject.get('scaleY') / 2);
//        activeObject.set('top', positionY > canvas.getHeight() / 2 ? positionY : canvas.getHeight() / 2);
//    }
//
//    //below just prevention for object from getting width or height greater than canvas width and height
//    if (activeObject.get('width') * activeObject.get('scaleX') > canvas.getWidth())
//    {
//        activeObject.set('scaleX', canvas.getWidth() / activeObject.get('width'));
//    }
//    if (activeObject.get('height') * activeObject.get('scaleY') > canvas.getHeight())
//    {
//        activeObject.set('scaleY', canvas.getHeight() / activeObject.get('height'));
//    }
//}
//
//    canvas.observe( 'object:moving', preventLeaving);
//    canvas.observe( 'object:scaling', preventLeaving);
//

$(function () {
	// Fabric JS initialization 

    var element;
    
    $('#board-canvas').droppable({
        accept: function(element) {
		  var cn = element.className;
		  return cn == 'board-lightbox-product' || 'board-lightbox-product-cloned'
		},
        drop: addProductToBoard
    });
	getSavedProducts($('#canvas').data('boardId'));
	initializeProductSearchForm();
	
	
});
</script>


