
	<div class="manage-container">
		<div class="board-design-section board-design-section-canvas">
			<div class="board-design-section-title">
				<span class="board-design-step">1</span> Design Your Room
			</div>
			<div class="row">
				<div class="col-md-7">
					<div class="board-content-body">
						<div id="board-container">
							
							
							
							
							<% if true %>
							<div id="board-toolbar" class="board-toolbar">

								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-default" id="bp-rotate-left"><span class="fa fa-repeat" style="font-size: 12px;"></span> Rotate</button>
									<button type="button" class="btn btn-default" id="bp-move-forward"><span class="fa fa-angle-up" style="font-size: 12px;"></span> Forward</button>
									<button type="button" class="btn btn-default" id="bp-move-backward"><span class="fa fa-angle-down" style="font-size: 12px;"></span> Backward</button>
									<button type="button" class="btn btn-default" id="bp-move-front"><span class="fa fa-angle-double-up" style="font-size: 12px;"></span> Front</button>
									<button type="button" class="btn btn-default" id="bp-move-back"><span class="fa fa-angle-double-down" style="font-size: 12px;"></span> Back</button>
								</div>
							</div>
							<% end %>
							
							<div id="board-canvas">
							
							
							<canvas id="canvas" data-board-id="<%= @board.id %>" width="630" height="360" style="border: 1px solid #eee;"></canvas>
							</div>

							        
						</div>
			
					</div>		
				</div>
				<div class="col-md-5">
					
					<div id="design" class="tab-pane active board-manage-panel">
						<div id="board_search_panel" class="">
							<div class="board-products-search-fields">
								<%= form_tag("/rooms/product_search", method: "get", :id => "product_search_form") do %>
									<div class="row">
										<div class="col-md-3">
											<%= select_tag "wholesaler_taxon", options_from_collection_for_select(@wholesaler_taxons, "id", "name"), :include_blank => false, :class => "form-control input-sm", :prompt => "Wholesaler" %>
										</div>
										<div class="col-md-3">
											<%= select_tag "department_taxon", options_from_collection_for_select(@department_taxons, "id", "name"), :include_blank => false, :class => "form-control input-sm", :prompt => "Department" %>
										</div>
										<div class="col-md-3">

											<input type="text" id="product_keywords" name="product_keywords" class="form-control input-sm" placeholder="Keywords">
										</div>
										<div class="col-md-3">
											<%= submit_tag("Search", :class => "btn btn-primary btn-sm")%>
										</div>
									</div>
								<% end %>
							</div>
							<div id="select-products-pagination" class="select-products-pagination"></div>
							<div id="select-products-box" class="select-products-box">							
								<div class="board-search-empty-state">Search for products above and drag them onto your board.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="board-design-section">
			<div class="board-design-section-title">
				<span class="board-design-step">
					2
				</span> Add color swatches
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="board-colors-container" class="board-colors-container">
						<%= render :partial => "board_swatches", :locals => {:board => @board} %>
					</div>
				</div>
			</div>
		</div>
	
		<div class="board-design-section board-design-section-last">
			<div class="board-design-section-title">
				<span class="board-design-step">
					3
				</span> Room Details
			</div>
			<%= form_for(@board, {:url => room_path(@board),:html => {:id => "edit_board_form", :"parsley-validate" => ""}}) do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			<% end %>
		</div>
	</div>
	<div class="manage-board-footer">
		<%= link_to "Cancel", designer_dashboard_path, :class => "btn btn-default" %>
		<%= link_to "Save Changes", "javascript:void(0);", :class => "btn btn-primary", :id => "submit_board_button" %>
		<%= link_to "Save and Publish", "javascript:void(0);", :class => "btn btn-primary", :id => "submit_and_publish_board_button" %>
		<%#= button_tag("Save Changes", :class => "btn btn-primary")%>
	</div>

<%= render :partial => "submit_for_publication_modal"%>	

<style>
	.board-product-selected{
		border: 2px solid #aaa;
		margin: -2px 0 0 -2px;
	}
	.light-box-product-unavailable{
		border: 1px solid red;
	}
</style>


<script defer="defer">
      
    </script>


<script>



$(document).ready(function() {
	

	
	initializeBoardManagement();
	
	$('.swatch').popover({ 
	    html : true,
	    content: function() {
			//$('.button-product-info').popover('hide');
	      return $('#'+$(this).data('colorPopoverContainer')).html();
	    }
	  });

	<% if @board.status == "submitted_for_publication" %>
		$( "#add-products-button" ).click(function() {
		  $('#product-locked-modal').modal()
		});
	<% else %>
		$( "#add-products-button" ).click(function() {
		  $('#product-modal').modal()
		});
	<% end %>

	$( "#edit-board-button" ).click(function() {
	  $('#board-modal').modal()
	});


});


//build the stage globally
//var stage = new Kinetic.Stage({
//	container: 'board-canvas',
//	width: 630,
//	height: 360
//});
//var layer = new Kinetic.Layer();
//stage.add(layer);


var canvas = new fabric.Canvas('canvas');
$(function () {
	
	
	
	// Fabric JS initialization 
	fabric.Object.prototype.setOriginToCenter = function() {
	    this._originalOriginX = this.originX;
	    this._originalOriginY = this.originY;

	    var center = this.getCenterPoint();

	    this.set({
	      originX: 'center',
	      originY: 'center',
	      left: center.x,
	      top: center.y
	    });
	  };

	  fabric.Object.prototype.setCenterToOrigin = function() {
	    var originPoint = this.translateToOriginPoint(
	      this.getCenterPoint(),
	      this._originalOriginX,
	      this._originalOriginY);

	    this.set({
	      originX: this._originalOriginX,
	      originY: this._originalOriginY,
	      left: originPoint.x,
	      top: originPoint.y
	    });
	  };
	
	
	
	
	
    var element;
    
    $('#board-canvas').droppable({
        accept: function(element) {
		  var cn = element.className;
		  return cn == 'board-lightbox-product' || 'board-lightbox-product-cloned'
		},
        drop: addProductToBoard
    });
	
	
	
	
	getSavedProducts($('#canvas').data('boardId'));
	
	
	
	/* attach a submit handler to the form */
	$("#product_search_form").submit(function(event) {
		
		/* stop form from submitting normally */
		event.preventDefault();

		/* get some values from elements on the page: */
		var $form = $( this ),
		term = $form.find( 'input[name="product_keywords"]' ).val(),
		wholesaler_taxon = $form.find( 'select[name="wholesaler_taxon"]' ).val(),
		department_taxon = $form.find( 'select[name="department_taxon"]' ).val(),
		url = $form.attr( 'action' );
		
		//alert(taxon);
		/* Send the data using post */
		var posting = $.post( url, { keywords: term, department_taxon_id: department_taxon, wholesaler_taxon_id: wholesaler_taxon, per_page: 100 } );

		/* Put the results in a div */
		posting.done(function( data ) {
			//var content = $( data ).find( '#content' );
			//$( "#result" ).empty().append( content );
		});
	});
	
});
</script>
