<style type="text/css">
      #carousel {
        width:1200px;
        height:290px;    
        margin:0 auto;
    }
    #slides {
        overflow:hidden;
        /* fix ie overflow issue */
        position:relative;
        width:1200px;
        height:290px;
       // border:1px solid #ccc;
    }
    /* remove the list styles, width : item width * total items */    
    #slides ul {
       // position:relative;
        left:0;
        top:0;
        list-style:none;
        margin:0;
        padding:0;    
        width:1200px;            
    }
    /* width of the item, in this case I put 250x250x gif */
    #slides li {
        width:250px;
        height:250px;    
        float:left;
    }
    #slides li img {
        padding:5px;
    }
    /* Styling for prev and next buttons */
    #buttons {
      //  padding:0 0 5px 0;    
      //  float:right;
    }
    #buttons a {
        display:block;
        height: 52px;
	    margin-top: 60%;
	    outline: 0 none;
	    position: absolute;
	    text-indent: -9999px;
	    top: 49%;
	    width: 28px;
	    z-index: 9999;
    }
	#buttons a:hover
	{
	 text-decoration:none;
	}
	.clear {clear:both}
    #prev
    {
        left:180px;
        background: url("/assets/left_arrow.png") repeat scroll 0 0 transparent;
    }
    
    #next
    {
 
    right:150px;
    background: url("/assets/right_arrow.png") repeat scroll 0 0 transparent;
    }

</style>
<div class="container">					
	<div class="prime">
		<div class="tagline">
			<h1 class="home-header">Removing the guesswork from home design.</h1>
			<p class="home-subheader">Browse room designs from the industry's top designers for a room you'll love.</p>
		</div>	
		<div class="room-highlights">
			<div class="row">
				<div class="col-md-4">
					<div class="home-product">
						<div style="height: 212px; width: 360px; background: #eee url(<%=@designer.user_images.first.attachment(:primary)%>) 60px -25px no-repeat">
						<% unless @designer.user_images.blank? %>
							<%#= link_to image_tag(@designer.user_images.first.attachment(:primary), :style => "width:100%;height:300px;"), "/#{@designer.username}" %>
						<% else %>
						<%= image_tag('store/home/designer.png')%>
						<%end%>
						</div>
						<h4>Exceptional Designers</h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-product">
					<div>
					<% unless @product.blank? %>
					 <a href="javascript:void(0);" class="add-to-board-link" data-product-id="<%=@product.permalink %>">
					   <%= large_image(@product, :itemprop => 'image', :style => "width:100%;height:300px;") %>
					 </a>  
					<%else%>
					<%= image_tag('store/home/product.png')%>
					<%end%>
					</div>
					<h4>Unique Products</h4>
					<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-product" >
					<div style="width:100%;height:200px;">
					
					<% unless board_image(@board, :large).blank? %>
						<%= link_to board_image(@board, :large), room_path(@board)%>
					<% else %>
					  <%= image_tag('store/home/board.png')%>
					<%end%>
					
					</div>
					<h4>Beautiful Rooms</h4>
					<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="container">
	<h2>Featured Living Rooms</h2>
	<div class="boards-list-main">
		<% unless @living_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @living_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured living rooms at this time.</div>
		<% end %>
	</div>
</div>
<div class="container">
	<h2>Featured Dining Rooms</h2>
	<div class="boards-list-main">
		<% unless @dining_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @dining_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
		<% end %>
	</div>
</div>
<div class="container">
	<h2>Featured Bedrooms</h2>
	<div class="boards-list-main">
		<% unless @bedroom_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @bedroom_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
		<% end %>
	</div>
</div>


<div style="background-color: #eee; padding: 60px 0;">
	<div class="container">
		<h2 style="margin: 0 0 20px 0; padding: 0">Meet some the industry's top designers</h2>
		
<div id="carousel">
	<% if false %>
<div id="buttons">
        <a href="#" id="prev"><</a>
        <a href="#" id="next" style="margin-left:20px;">></a>
        <div class="clear"></div>
    </div>
<% end %>
    
    <div class="clear"></div>
    <div id="slides"> 
    	
<ul class="ch-grid" >
    
    
<% @designers.each do |designer| %>
	


	
		<% if designer.user_images.blank? %>
			
			<li>
		        <div class="ch-item ch-img-default">
		            <div class="ch-info">
		                <h3><%= link_to designer.full_name, "/#{designer.username}" %></h3>
		                <p><%= designer.location%></p>

		            </div>
		        </div>
		    </li>
		<% else %>
			<style>
				.ch-img-<%=designer.id %> { 
				    background-image: url(<%=designer.user_images.first.attachment(:primary)%>);
				}
			</style>
			<li>
		        <div class="ch-item ch-img-<%=designer.id %>">
		            <div class="ch-info">
		                <h3><%= link_to designer.full_name, "/#{designer.username}" %></h3>
						<p><%= designer.location%></p>
		            </div>
		        </div>
		    </li>
		<% end %>
	
		
  

<% end %>
</ul>
 <div class="clear"></div>
    </div>
</div>
		
		
		<% if false %>
	<ul class="ch-grid">
	    <li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Use what you have</h3>
	                <p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	    <li>
	        <div class="ch-item ch-img-2">
	            <div class="ch-info">
	                <h3>Common Causes of Stains</h3>
	                <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	    <li>
	        <div class="ch-item ch-img-3">
	            <div class="ch-info">
	                <h3>Pink Lightning</h3>
	                <p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	</ul>	


<div style="background-color: #eee; padding: 60px 0;">
	<div class="container">
		<h2 style="margin: 0 0 20px 0; padding: 0">Meet some the industry's top designers</h2>
		<div class="row">
	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-002.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-003.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-004.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-005.jpg", :style => "width: 100%")%>
			</div>	
	
		</div>
	</div>
</div>
<% end %>

<script type="text/javascript">

       $(document).ready(function() {
        //rotation speed and timer
        var speed = 5000;
        var run = setInterval('rotate()', speed);    
        
        //grab the width and calculate left value
        var item_width = $('#slides li').outerWidth();
        var left_value = item_width * (-1);
    //move the last item before first item, just in case user click prev button
        $('#slides li:first').before($('#slides li:last'));
        
        //set the default item to the correct position
        $('#slides ul').css({'left' : left_value});
    //if user clicked on prev button
        $('#prev').click(function() {
            //get the right position
            var left_indent = parseInt($('#slides ul').css('left')) + item_width;
            //slide the item
            $('#slides ul').animate({'left' : left_indent}, 200,function(){
    //move the last item and put it as first item     
                $('#slides li:first').before($('#slides li:last'));
                //set the default item to correct position
                $('#slides ul').css({'left' : left_value});
            
            });
            //cancel the link behavior
            return false;
        });
    //if user clicked on next button
        $('#next').click(function() {
            
            //get the right position
            var left_indent = parseInt($('#slides ul').css('left')) - item_width;
            
            //slide the item
            $('#slides ul').animate({'left' : left_indent}, 200, function () {
    //move the first item and put it as last item
                $('#slides li:last').after($('#slides li:first'));     
                
                //set the default item to correct position
                $('#slides ul').css({'left' : left_value});
            
            });
            
            //cancel the link behavior
            return false;
            
        });
        
        //if mouse hover, pause the auto rotation, otherwise rotate it
        $('#slides').hover(
            
            function() {
                clearInterval(run);
            },
            function() {
                run = setInterval('rotate()', speed);    
            }
        );
    });
    //a simple function to click next link
    //a timer will call this function, and the rotation will begin :)
    function rotate() {
        $('#next').click();
    }

</script>
