
<div class="container">					
	<div class="prime">
		<div class="tagline">
			<h1 class="home-header">Removing the guesswork from home design.</h1>
			<p class="home-subheader">Browse room designs from the industry's top designers for a room you'll love.</p>
		</div>	
		<div class="room-highlights">
			<div class="row">
				<div class="col-md-4">
					<div class="home-product">
						<div>
						<% unless @designer.user_images.blank? %>
							<%= link_to image_tag(@designer.user_images.first.attachment(:primary), :style => "width:100%;height:200px;"), "/#{@designer.username}" %>
						<% else %>
						<%= image_tag('store/home/designer.png')%>
						<%end%>
						</div>
						<h4>Exceptional Designers</h4>
						<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-product">
					<div>
					<% unless @product.blank? %>
					 <a href="javascript:void(0);" class="add-to-board-link" data-product-id="<%=@product.permalink %>">
					   <%= large_image(@product, :itemprop => 'image', :style => "width:100%;height:200px;") %>
					 </a>  
					<%else%>
					<%= image_tag('store/home/product.png')%>
					<%end%>
					</div>
					<h4>Unique Products</h4>
					<p></p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-product" >
					<div style="width:100%;height:200px;">
					
					<% unless board_image(@board, :large).blank? %>
						<%= link_to board_image(@board, :large), room_path(@board)%>
					<% else %>
					  <%= image_tag('store/home/board.png')%>
					<%end%>
					
					</div>
					<h4>Beautiful Rooms</h4>
					<p></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="container">
	<h2>Featured Living Rooms</h2>
	<div class="boards-list-main">
		<% unless @living_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @living_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured living rooms at this time.</div>
		<% end %>
	</div>
</div>
<div class="container">
	<h2>Featured Dining Rooms</h2>
	<div class="boards-list-main">
		<% unless @dining_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @dining_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
		<% end %>
	</div>
</div>
<div class="container">
	<h2>Featured Bedrooms</h2>
	<div class="boards-list-main">
		<% unless @bedroom_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @bedroom_room_boards}%>
		<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
		<% end %>
	</div>
</div>


<div style="background-color: #eee; padding: 60px 0;">
	<div class="container">
		<h2 style="margin: 0 0 20px 0; padding: 0">Meet some the industry's top designers</h2>
		<div class="slideshow"  style="left: 10%;" id="cycle2"  data-cycle-fx=carousel data-cycle-timeout=0 data-cycle-carousel-visible=4 data-cycle-next="#next" data-cycle-prev="#prev" data-cycle-pager="#pager">
	     <% @designers.each do |designer| %>
			
			<% unless designer.user_images.blank? %>
	          <%= image_tag(designer.user_images.first.attachment(:primary), :style=>"border-radius:250px;")  %>
			<% else %>
				<%= image_tag("/assets/store/profile_default_primary.jpg", :style=>"border-radius:250px;") %>
			<% end %>
		<%end%>	
			<div class=center>
			    <a href=# id=prev>&lt;&lt; Prev </a>
			    <a href=# id=next> Next &gt;&gt; </a>
			</div>
			
		</div>
	</div>
</div>
		
		<% if false %>
	<ul class="ch-grid">
	    <li>
	        <div class="ch-item ch-img-1">
	            <div class="ch-info">
	                <h3>Use what you have</h3>
	                <p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	    <li>
	        <div class="ch-item ch-img-2">
	            <div class="ch-info">
	                <h3>Common Causes of Stains</h3>
	                <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	    <li>
	        <div class="ch-item ch-img-3">
	            <div class="ch-info">
	                <h3>Pink Lightning</h3>
	                <p>by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
	            </div>
	        </div>
	    </li>
	</ul>	


<div style="background-color: #eee; padding: 60px 0;">
	<div class="container">
		<h2 style="margin: 0 0 20px 0; padding: 0">Meet some the industry's top designers</h2>
		<div class="row">
	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-002.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-003.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-004.jpg", :style => "width: 100%")%>
			</div>	
			<div class="col-md-3">
				<%= image_tag("/images/home/model-005.jpg", :style => "width: 100%")%>
			</div>	
	
		</div>
	</div>
</div>
<% end %>

<script type="text/javascript">
$( document ).ready(function() {
$( '#cycle2' ).cycle();
});

</script>
