<% if true %>
<style type="text/css">
#carousel {

	margin:0 auto;
}
#slides {
	overflow:hidden;
	/* fix ie overflow issue */
	position:relative;

}
/* remove the list styles, width : item width * total items */    
#slides ul {
	// position:relative;
	left:0;
	top:0;
	list-style:none;
	margin:0;
	padding:0;    

}
/* width of the item, in this case I put 250x250x gif */
#slides li {

	float:left;
}
#slides li img {
	padding:5px;
}
/* Styling for prev and next buttons */
#buttons {
	//  padding:0 0 5px 0;    
	//  float:right;
}
#buttons a {
	display: none;
	height: 52px;
	margin-top: 10%;
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 49%;
	width: 28px;
	z-index: 9999;
}
#buttons a:hover
{
	text-decoration:none;
}
.clear {clear:both}
#prev
{
	left:240px;
	background: url("/assets/left_arrow.png") repeat scroll 0 0 transparent;
}

#next
{

	right:150px;
	background: url("/assets/right_arrow.png") repeat scroll 0 0 transparent;
}

</style>
<% end %>
<div class="container">		
	<% if !@slides.blank?%>			
	<div class="prime">
		<div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<% @slides.each_with_index do |slide, i| %>
				<li data-target="#homeCarousel" data-slide-to="<%=i%>" class="<%= "active" if i == 0 %>"></li>
				<% end %>
			</ol>

			<div class="carousel-inner">
				<% @slides.current.each_with_index do |slide, i| %>
				<div class="item <%= "active" if i == 0 %>">
					<%= link_to image_tag(slide.slider_image.attachment(:banner)), slide.path %>
				</div>
				<% end %>
			</div><!-- /.carousel -->
			<a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>	
	</div>
	<% end %>
	<div class="container">
		<h2 class="home">Featured Living Rooms</h2>
		<div class="boards-list-main">
			<% unless @living_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @living_room_boards}%>
			<% else %>
			<div class="empty-state">There aren't any featured living rooms at this time.</div>
			<% end %>
		</div>
	</div>
	<div class="container">
		<h2 class="home">Featured Dining Rooms</h2>
		<div class="boards-list-main">
			<% unless @dining_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @dining_room_boards}%>
			<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
			<% end %>
		</div>
	</div>
	<div class="container">
		<h2 class="home">Featured Bedrooms</h2>
		<div class="boards-list-main">
			<% unless @bedroom_room_boards.blank? %>
			<%= render :partial => "home_boards_list", :locals => {:boards => @bedroom_room_boards}%>
			<% else %>
			<div class="empty-state">There aren't any featured dining rooms at this time.</div>
			<% end %>
		</div>
	</div>


	<div class="home-featured-designers">
		<div class="container">
			<h2>Meet some of the industry's top designers</h2>

			<div id="carousel">
				<!--<#% if false %>-->
				<div id="buttons">
					<a href="#" id="prev"><</a>
					<a href="#" id="next" style="margin-left:20px;">></a>
					<div class="clear"></div>
				</div>
				<!--<#% end %>-->


				<div class="clear"></div>
				<div id="slides" class="designer-flexi-box-content">
					<ul class="ch-grid flexi-box-designer nbs-flexisel-ul">
						<% @designers.each do |designer| %>
						<% if designer.user_images.blank? %>
						<li>
							<div class="ch-item ch-img-default">
								<a href="/<%=designer.username%>" >
									<div class="ch-info">
										<h3><%=designer.full_name %></h3>
										<p><%= designer.full_name%></p>
									</div>
								</a>
							</div>
						</li>
						<% else %>
						<style>
						.ch-img-<%=designer.id %> { 
							background-image: url(<%=designer.user_images.first.attachment(:original)%>);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 220px 220px ;
						}
						</style>
						<li>


							<div class="ch-item ch-img-<%=designer.id %>">
								<a href="/<%=designer.username%>" >
									<div class="ch-info">
										<h3><%= designer.full_name%></h3>
										<p><%= designer.location%></p>
									</div>
								</a>
							</div>
						</a>
					</li>
					<% end %>




					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
		</div>

		<% if false %>
		<script type="text/javascript">

		$(document).ready(function() {
			//rotation speed and timer
			var speed = 5000;
			//var run = setInterval('rotate()', speed);    

			//grab the width and calculate left value
			var item_width = $('#slides li').outerWidth();
			var left_value = item_width * (-1);
			//move the last item before first item, just in case user click prev button
			$('#slides li:first').before($('#slides li:last'));

			//set the default item to the correct position
			$('#slides ul').css({'left' : left_value});
			//if user clicked on prev button
			$('#prev').click(function() {
				//get the right position
				var left_indent = parseInt($('#slides ul').css('left')) + item_width;
				//slide the item
				$('#slides ul').animate({'left' : left_indent}, 200,function(){
					//move the last item and put it as first item     
					$('#slides li:first').before($('#slides li:last'));
					//set the default item to correct position
					$('#slides ul').css({'left' : left_value});

				});
				//cancel the link behavior
				return false;
			});
			//if user clicked on next button
			$('#next').click(function() {

				//get the right position
				var left_indent = parseInt($('#slides ul').css('left')) - item_width;

				//slide the item
				$('#slides ul').animate({'left' : left_indent}, 200, function () {
					//move the first item and put it as last item
					$('#slides li:last').after($('#slides li:first'));     

					//set the default item to correct position
					$('#slides ul').css({'left' : left_value});

				});

				//cancel the link behavior
				return false;

			});

			//if mouse hover, pause the auto rotation, otherwise rotate it
			$('#slides').hover(

				function() {
					clearInterval(run);
				},
				function() {
					run = setInterval('rotate()', speed);    
				}
			);
		});
		//a simple function to click next link
		//a timer will call this function, and the rotation will begin :)
		function rotate() {
			$('#next').click();
		}

		</script>
		<% end %>