<div class="row">
	<div class="col-md-3">
		<h4>Designer Dashboard</h4>
		<ul class="nav nav-stacked">
			<li><a href="/dashboard">Dashboard Home</a></li>
			<li><a href="/my_boards">My Boards</a></li>
			<li><a href="/my_profile">My Profile</a></li>
		</ul>

	</div>

	<div class="col-md-9">
		<div class="page-header clearfix">
			<div class="row">
				<div class="col-md-9">
					<h1>Boards</h1>
				</div>
				<div class="col-md-3 header-actions">
					<%= link_to "Add a Board", new_board_path, :class => "btn btn-primary" %>
				</div>
			</div>
		</div>
		
  		<% unless @boards.blank? %>
		<div class="dashboard-boards" data-hook="dashboard_boards">
			<table class="table" cellspacing="0" border="0">
			<% @boards.each do |board|%>
				<tr>
					<td style="vertical-align: top;">
						<% if board.board_image %>
					<%= image_tag(board.board_image.attachment("primary"))%>
						<% else %>
						<% end %>
					</td>
					<td style="vertical-align: top;">
						<h3><%= board.name %></h3>
						<ul>
							<li><%= link_to "Edit Board Details", design_board_path(board)%></li>
							<li><%#= link_to "Edit Board Products", build_board_path(board)%></li>
							<li><%= link_to "View Public Board Page", board%></li>
						</ul>
					</td>
				</tr>
			<% end%>
			</table>
  		</div>
		<% else %>
		<div class="empty-state">You have not created any boards yet.</div>
		<% end %>
	</div>
</div>
