<div class="container">
	<aside id="sidebar" class="columns four" data-hook="">  
		<div data-hook="dashboard_sidebar_navigation">
		<nav id="taxonomies" class="sidebar-item" data-hook="">
			<h6 class="taxonomy-root">Designer Dashboard</h6>
			<ul class="taxons-list">
				<li><a href="/dashboard">Dashboard Home</a></li>
				<li><a href="/my_boards">My Boards</a></li>
				<li><a href="/my_profile">My Profile</a></li></ul>
		</nav>
		</div>
	</aside>
	<div id="content" class="columns twelve" data-hook="">
		<div class="page-header clearfix">
			<h1>Boards</h1>
			<%= link_to "Add a Board", new_board_path %>
		</div>
		
  		<% unless @boards.blank? %>
		<div class="dashboard-boards" data-hook="dashboard_boards">
			<table class="table" cellspacing="0" border="0">
			<% @boards.each do |board|%>
				<tr>
					<td style="vertical-align: top;"><%= image_tag(board.board_image.attachment("primary"))%>
					</td>
					<td style="vertical-align: top;">
						<h3><%= board.name %></h3>
						<ul>
							<li><%= link_to "Edit Board Details", edit_board_path(board)%></li>
							<li><%= link_to "Edit Board Products", build_board_path(board)%></li>
							<li><%= link_to "View Public Board Page", board%></li>
						</ul>
					</td>
				</tr>
			<% end%>
			</table>
  		</div>
		<% else %>
		<div class="empty-state">You have not created any boards yet.</div>
		<% end %>
	</div>
</div>