<div class="board-header">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><%= link_to "All Rooms" %></li>
				<% if @board.room %>
				<li><%= link_to @board.room.name, "" %></li>
				<% end %>
				<li class="active"><%= @board.name%></li>
			</ol>
			<h1><%= @board.name %></h1>
		</div>
		
	</div>

</div>
<div class="row">
	<div class="col-md-7">	
		<div class="board-details">
			<div class="board-section board-image-section">
				<%= board_image(@board,:large)%>
			</div>
			
			<% if false %>
			<% unless @board.colors.blank? %>
			<div class="board-section board-swatch-section">
				<h3>Suggested Paint Colors</h3>
				<% @board.colors.each_with_index do |color,index| %>
					
					
					<div class="board-swatch color-match-link" id="add-colors-link-<%=index%>" data-match-id="1">
						<span data-toggle="popover" data-color-id="<%=color.id%>" data-color-popover-container="color-popover-<%=color.id%>" data-html="true" data-trigger="hover" data-placement="top" data-animation="false" class="swatch-wrapper" data-color="<%=color.hex_val%>" data-color-hsv-h="<%=color.hsv_h%>" data-color-hsv-s="<%=color.hsv_s%>" data-color-hsv-v="<%=color.hsv_v%>" data-color-name="<%=color.name%>" data-color-swatch-val="<%=color.swatch_val%>">
						<div class="board-swatch-color" id="board-swatch-color-<%=index%>" style="background-color: #<%= color.hex_val%>"></div>
						<div class="board-swatch-content" id="board-swatch-content-<%=index%>">
							<h4><%= color.name %></h4>
						</div>
						</span>
					</div>
					
					
					
					<div id="color-popover-<%=color.id%>" class="hide">
					<div class="row">
						<div class="col-md-5">
							<div style="height: 100px; width: 100px; background-color: #<%=color.hex_val%>"></div>
						</div>
						<div class="col-md-7 swatch-popover-info">
							<h4><%=color.name%></h4>
							<p>by Sherwin Williams</p>
							<table class="table table-condensed swatch-table">

								<tr>
									<td><strong>Swatch #</strong></td>
									<td><%=color.swatch_val%></td>
								</tr>
								<tr>
									<td><strong>Hex</strong></td>
									<td>#<%=color.hex_val%></td>
								</tr>
								<tr>
									<td><strong>HSV</strong></td>
									<td>H: <%=color.hsv_h%><br />
										S: <%=color.hsv_s%><br />
										V: <%=color.hsv_v%></td>
								</tr>	
							</table>
						</div>
					</div>
					</div>
				<% end %>
			</div>
			<% end %>
			<% end %>
			
			
			</div>
		</div>
	<div class="col-md-5">
		<div class="board-about-column">
			<div class="board-description">
				<h4>About This Room</h4>
				<%= @board.description %>
			</div>
			<h4>Room By</h4>
			<div class="board-designer-header">
				<div class="board-designer-logo">
					<% if !@board.designer.user_images.blank? %>
					<%=image_tag(@board.designer.user_images.first.attachment(:mini), :class => "img-circle")%>
					<% else %>
						<%=image_tag("/assets/store/profile_default_primary.jpg", :class => "img-circle")%>
					<% end %>
					<%#= link_to logo_image(@board.designer.logo_image, :mini), "/#{@board.designer.username}"%>
				</div>
				<div class="board-designer-info">
					<h3><%= link_to @board.designer.full_name, "/#{@board.designer.username}"%></h3>
					<p><%= @board.designer.company_name%></p>
				</div>
			</div>
			<div class="board-sharing-tools">
				<span class="share-label">Share:</span> 
				<span class='st_facebook' displayText=''></span>
				<span class='st_twitter' displayText=''></span>
				<span class='st_pinterest' displayText=''></span>
				<span class='st_googleplus' displayText=''></span>
				<span class='st_email' displayText=''></span>
			</div>
			<% if false %>
			<div class="board-sharing-tools">
				<% if @board.status == "published" %>
				<span class="share-label"><a href="javascript:void(0);" id="embed-room" data-toggle="popover" data-placement="bottom" data-container="body" data-html="true">Add a Scout & Nimble widget to your site</a></span> 
				
				<div id="room-widget" class="hidden">
					<div class="embed-widget-instructions" style="width: 320px; margin-bottom: 20px;">
						Copy the code below and paste it wherever you want the widget to appear.
						<textarea class="" style="width: 100%; border: 1px solid #999;" onclick="this.focus();this.select()"><script src="" type="text/javascript"></script><div id="sn_widget" data-siteid=""></div></textarea>
					</div>
					<div class="embed-widget-container">
						
						<script src="http://localhost:3000/widget/widget.js?wtype=room&rid=<%=@board.id%>" type="text/javascript"></script><div id="sn_widget" data-site="http://localhost:3000" data-room-id="<%=@board.id%>">
					</div>

						
					</div>
				</div>
				<% end %>
				
			</div>
			
			<% end %>
			
			
			<% unless @board.colors.blank? %>
			<div class="board-swatch-colors">
				<h4>Suggested Paint Colors</h4>
				<% @board.colors.each_with_index do |color,index| %>
					<div class="board-swatch-small color-match-link" id="add-colors-link-<%=index%>" data-match-id="1">
						<span data-toggle="popover" data-color-id="<%=color.id%>" data-color-popover-container="color-popover-<%=color.id%>" data-html="true" data-trigger="hover" data-placement="top" data-animation="false" class="swatch-wrapper" data-color="<%=color.hex_val%>" data-color-hsv-h="<%=color.hsv_h%>" data-color-hsv-s="<%=color.hsv_s%>" data-color-hsv-v="<%=color.hsv_v%>" data-color-name="<%=color.name%>" data-color-swatch-val="<%=color.swatch_val%>">
						<div class="board-swatch-color" id="board-swatch-color-<%=index%>" style="background-color: #<%= color.hex_val%>"></div>
						
						</span>
					</div>
					
					
					
					<div id="color-popover-<%=color.id%>" class="hide">
					<div class="row">
						<div class="col-md-5">
							<div style="height: 100px; width: 100px; background-color: #<%=color.hex_val%>"></div>
						</div>
						<div class="col-md-7 swatch-popover-info">
							<h4><%=color.name%></h4>
							<p>by <%= color.color_collection.name %></p>
							<div class="swatch-number">
								<div class="swatch-header">
									SWATCH #
								</div>
								<div class="swatch-content">
									<%=color.swatch_val%>
								</div>
							</div>
							
							
							<% if false%>
							<table class="table table-condensed swatch-table">
								<tr>
									<td><strong>Swatch #</strong></td>
									<td><%=color.swatch_val%></td>
								</tr>
								
								<tr>
									<td><strong>Hex</strong></td>
									<td>#<%=color.hex_val%></td>
								</tr>
								<tr>
									<td><strong>HSV</strong></td>
									<td>H: <%=color.hsv_h%><br />
										S: <%=color.hsv_s%><br />
										V: <%=color.hsv_v%></td>
								</tr>	
								
							</table>
							<% end %>
						</div>
					</div>
					</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="board-section board-products-section">
			<h3>Buy Products from this Room</h3>	
			<%= render :partial => "spree/designers/products_list", :locals => {:products => @board.products}%>
		</div>
	</div>
</div>

<%#= render :partial => "spree/shared/add_to_cart_modal" %>

<h3>Related Rooms</h3>
<% if !@board.related_boards.blank? %>
	<%= render :partial => "boards_list", :locals => {:boards => @board.related_boards}%>
<% else %>
	<div class="empty-state">There are no related boards at this time.</div>
<% end%>

 <div class="fb-comments" data-href="<%=url_for(:only_path => false)%>" data-numposts="5" data-colorscheme="light"></div>


<script>
$(document).ready(function() {
	$('#embed-room').popover({ 
	    html : true,
	    content: function() {
			//$('.button-product-info').popover('hide');
	      return $('#room-widget').html();
	    }
	  });
	
	
	$('.swatch-wrapper').popover({ 
	    html : true,
	    content: function() {
			//$('.button-product-info').popover('hide');
	      return $('#'+$(this).data('colorPopoverContainer')).html();
	    }
	  });


});
</script>