<div class="board-header">
	<div class="row">
		<div class="col-md-4">
			<ol class="breadcrumb">
				<li><%= link_to "All Rooms" %></li>
				<% if @board.room %>
				<li><%= link_to @board.room.name, "" %></li>
				<% end %>
				<li class="active"><%= @board.name%></li>
			</ol>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4"></div>
	</div>

</div>
<div class="row">
	<div class="col-md-7">	
		<div class="board-details">
			<div class="board-section board-image-section">
				<%= board_image(@board,:large)%>
			</div>
			<% unless @board.colors.blank? %>
			<div class="board-section board-swatch-section">
				<h3>Suggested Paint Colors</h3>
				<% @board.colors.each_with_index do |color,index| %>
					
					
					<div class="board-swatch color-match-link" id="add-colors-link-<%=index%>" data-match-id="1">
						<span data-toggle="popover" data-color-id="<%=color.id%>" data-color-popover-container="color-popover-<%=color.id%>" data-html="true" data-trigger="hover" data-placement="top" data-animation="false" class="swatch-wrapper" data-color="<%=color.hex_val%>" data-color-hsv-h="<%=color.hsv_h%>" data-color-hsv-s="<%=color.hsv_s%>" data-color-hsv-v="<%=color.hsv_v%>" data-color-name="<%=color.name%>" data-color-swatch-val="<%=color.swatch_val%>">
						<div class="board-swatch-color" id="board-swatch-color-<%=index%>" style="background-color: #<%= color.hex_val%>"></div>
						<div class="board-swatch-content" id="board-swatch-content-<%=index%>">
							<h4><%= color.name %></h4>
						</div>
						</span>
					</div>
					
					
					
					<div id="color-popover-<%=color.id%>" class="hide">
					<div class="row">
						<div class="col-md-5">
							<div style="height: 100px; width: 100px; background-color: #<%=color.hex_val%>"></div>
						</div>
						<div class="col-md-7 swatch-popover-info">
							<h4><%=color.name%></h4>
							<p>by Sherwin Williams</p>
							<table class="table table-condensed swatch-table">

								<tr>
									<td><strong>Swatch #</strong></td>
									<td><%=color.swatch_val%></td>
								</tr>
								<tr>
									<td><strong>Hex</strong></td>
									<td>#<%=color.hex_val%></td>
								</tr>
								<tr>
									<td><strong>HSV</strong></td>
									<td>H: <%=color.hsv_h%><br />
										S: <%=color.hsv_s%><br />
										V: <%=color.hsv_v%></td>
								</tr>	
							</table>
						</div>
					</div>
					</div>
				<% end %>
			</div>
			<% end %>
			
			
			</div>
		</div>
	<div class="col-md-5">
		<div class="board-about-column">
			<h1><%= @board.name %></h1>
			<div class="board-description">
				<%= @board.description %>
			</div>
			<div class="board-sharing-tools">
				<span class="share-label">Share:</span> 
				<span class='st_facebook' displayText=''></span>
				<span class='st_twitter' displayText=''></span>
				<span class='st_pinterest' displayText=''></span>
				<span class='st_googleplus' displayText=''></span>
				<span class='st_email' displayText=''></span>
			</div>
			<h4>Room By</h4>
			<div class="board-designer-header">
				<div class="board-designer-logo">
					<%= link_to logo_image(@board.designer.logo_image, :mini), designer_path(@board.designer)%>
				</div>
				<div class="board-designer-info">
					<h3><%= link_to @board.designer.full_name, designer_path(@board.designer)%></h3>
					<p><%= @board.designer.company_name%></p>
				</div>
			</div>
		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="board-section board-products-section">
			<h3>Buy Products from this Room</h3>
			<% if false and @board.board_products.any? %>
				<div id="board-products">
					<% for product in @board.products %>
					<li>
						<div class="product-listing">
							<div class="product-image" style="min-height">
					        	<%= link_to raw("<span class=\"helper\"></span>#{small_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
					      	</div>
					      	<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
					      	<span class="price selling" itemprop="price"><%= display_price(product) %></span>
							<div><% if product.images.first %>
								<a href="javascript:void(0);" class="add-to-cart-button" data-product-name="<%=product.name%>" data-product-price="<%= display_price(product) %>" data-product-image-url="<%=product.images.first.attachment.url(:mini)%>" data-product-id="<%= product.id %>" data-variant-number="1">Add to Cart</a><% end %></div>
						</div>
					</li>
					<% end %>
				</div>
			<% end %>
			
			
			<% if @board.board_products.any? %>
				<% @board.products.in_groups_of(4, false) do |row_products| %>
				<div id="products" class="row">
					<% for product in row_products %>
					<div class="col-md-3">
						<div class="product-listing">
							<div class="product-image board-product-image" style="min-height">
					        	<%= link_to raw("<span class=\"helper\"></span>#{product_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
					      	</div>
					      	<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
					      	<span class="price selling" itemprop="price"><%= display_price(product) %></span>
							<div><% if product.images.first %>
								<a href="javascript:void(0);" class="add-to-cart-button" data-product-name="<%=product.name%>" data-product-price="<%= display_price(product) %>" data-product-image-url="<%=product.images.first.attachment.url(:mini)%>" data-product-id="<%= product.id %>" data-variant-number="1">Add to Cart</a><% end %></div>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			<% end %>
			</div>
	</div>
</div>

<%= render :partial => "spree/shared/add_to_cart_modal" %>

<h3>Related Rooms</h3>
<% if !@board.related_boards.blank? %>
	<%= render :partial => "boards_list", :locals => {:boards => @board.related_boards}%>
<% else %>
	<div class="empty-state">There are no related boards at this time.</div>
<% end%>
<script>
$(document).ready(function() {
	$('.swatch-wrapper').popover({ 
	    html : true,
	    content: function() {
			//$('.button-product-info').popover('hide');
	      return $('#'+$(this).data('colorPopoverContainer')).html();
	    }
	  });


});
</script>