<div class="columns sixteen alpha">
	<div class="page-header clearfix">
		<h1><%= @board.name %></h1>
		<div class="page-header-byline">
			by <%= @board.designer.full_name%>
		</div>
	</div>
</div>
<div class="columns twelve alpha">
	<div class="board-details">
		<%= image_tag(@board.board_image.attachment(:large), :style => "border: 1px solid #ccc")%>
		<p><%= @board.description %></p>
	</div>
	<div class="board-products">
		<h3>Products on this board</h3>
	
		<% if @board.board_products.any? %>
		<ul id="products" class="inline product-listing" data-hook>
		  <% @board.products.each do |product| %>
		    <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
		      <div class="product-image">
		        <%= link_to raw("<span class=\"helper\"></span>#{small_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
		      </div>
		      <%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
		      <span class="price selling" itemprop="price"><%= display_price(product) %></span>
		    </li>
		  <% end %>
		  <% reset_cycle("classes") %>
		</ul>
		<% end %>
	</div>
</div>
<div class="columns four omega">
	<div class="board-designer-column">
		<h3><%= @board.designer.full_name%></h3>
		<p><%= @board.designer.description%></p>
		<p><%= link_to @board.designer.website_url, @board.designer.website_url %></p>
		<p><%= @board.designer.location%></p>
	</div>
	<div class="board-sidebar-section">
		<h3>Similar Boards</h3>
	</div>
</div>

