<div class = "col-md-3">
  <b>Product Dimensions:</b>
  <br/> 
  <%= button_tag product_dimensions, 
    data: { 
      title: "Product Dimensions", html: true, container: "body", toggle: "popover", placement: "right", 
      content: %Q{ 
          Height: <input class = 'product_height' id = 'variant_#{board_product.product.master.id}_product_height' type  = 'text' ></input>
          <br/>
          <br/> 
          Width: <input class = 'product_width' id = 'variant_#{board_product.product.master.id}_product_width' type = 'text'></input>
          <br/>
          <br/> 
          Depth: <input class = 'product_depth' id = 'variant_#{board_product.product.master.id}_product_depth' type = 'text'></input>
        }
    }, 
    class: "btn btn-default btn-primary product-dimension-button #{board_product.product.master.id}", 
    id: "variant_#{board_product.product.master.id}_product_dimensions", width: "500px"
  %>
  <p class = "hidden" id= "variant_<%= board_product.product.master.id %>_product_information">
    Height: <input class = 'product_height' id = <%= "variant_#{board_product.product.master.id}_product_height_actual" %> type = 'text' value = <%= "#{board_product.product.master.height}" %>></input><br/><br/> 
    Width: <input class = 'product_width' id = <%= "variant_#{board_product.product.master.id}_product_width_actual" %> type = 'text' value = <%= "#{board_product.product.master.width}" %>></input><br/><br/> 
    Depth: <input class = 'product_depth' id = <%= "variant_#{board_product.product.master.id}_product_depth_actual" %> type = 'text' value = <%= "#{board_product.product.master.depth}" %>></input> 
  </p>
</div>