<% @board.messages.new(:sender_id => spree_current_user.id, :recipient_id => @board.designer.id, :subject => "Your Board") %>

		<%= board_image(@board,"primary")%>

	    <%= f.field_container :name do %>
	      <%= f.label :name %> <span class="required">*</span><br />
	      <%= f.text_field :name, :class => 'fullwidth title' %>
	      <%= f.error_message_on :name %>
	    <% end %>
	    <%= f.field_container :body do %>
	      <%= f.label :description %><span class="required">*</span><br />
	      <%= f.text_area :description, {:class => 'fullwidth'} %>
	      <%= f.error_message_on :description %>
	    <% end %>
		<%= f.field_container :featured_headline do %>
	      <%= f.label :featured_headline %> <span class="required">*</span><br />
	      <%= f.text_field :featured_headline, :class => 'fullwidth title' %>
	      <%= f.error_message_on :featured_headline %>
	    <% end %>
	    <%= f.field_container :featured_copy do %>
	      <%= f.label :featured_copy %><span class="required">*</span><br />
	      <%= f.text_area :featured_copy, {:class => 'fullwidth'} %>
	      <%= f.error_message_on :featured_copy %>
	    <% end %>
		<%= f.field_container :status do %>
			<%= f.label :status, "Status" %><br />
			<%= f.select :status, Spree::Board.status_options, :class => 'field' %>
		<% end %>
		<% if false%>
		<%= f.field_container :featured do %>
          <label>
            <%#= f.check_box :featured %> Featured
          </label>
		<% end %>
		<% end %>
		<div id="starts_at_field" class="field">
	      <%= f.label :featured_starts_at %>
	      <%= f.text_field :featured_starts_at, :value => datepicker_field_value(@board.featured_starts_at), :class => 'datepicker datepicker-from fullwidth' %>
	    </div>

	    <div id="expires_at_field" class="field">
	      <%= f.label :featured_expires_at %>
	      <%= f.text_field :featured_expires_at, :value => datepicker_field_value(@board.featured_expires_at), :class => 'datepicker datepicker-to fullwidth' %>
	    </div>
	