<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<%= render :partial => 'spree/admin/shared/boards_sub_menu' %>

<% if @user %>

	<%= render 'spree/admin/shared/designer_menu' %>

	  <% content_for :page_title do %>
		Rooms for <%= @user.full_name%>
	  <% end %>

	  <% content_for :page_actions do %>
	    <li>
	      <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, :icon => 'icon-arrow-left' %>
	    </li>
	  <% end %>
<% end %>
<% if !@boards.blank? %>
	<table class="table">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>Name</th>
				<th>Designer</th>
				<th>State</th>
				<!--<th>Action</th>-->
			</tr>
		</thead>
		<tbody>
			<% @boards.each do |board| %>
			<tr>
				<td><%= link_to board_image(board, :mini), edit_admin_board_path(board) %></td>
				<td><%= link_to board.name, edit_admin_board_path(board) %></td>
				<td><%= board.designer.profile_display_name if board.designer%></td>
				<td><%= board.human_state_name %></td>
				<!-- 
				<td><%#= render :partial => "actions", :locals => {:board => board} %></td>-->
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= paginate @boards %>
<% else %>
<div class="empty-state">
No rooms available.	
</div>

<% end %>