<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-stacked nav-pills">
			<li class="<%= "active" if @state == "pending_approval" %>"><%= link_to "Pending Approval #{@products_pending_approval_count}", admin_boards_products_path(:state => "pending_approval")%></li>
			<li class="<%= "active" if @state == "marked_for_approval" %>"><%= link_to "Marked for Approval #{@products_marked_approval_count}", admin_boards_products_path(:state => "marked_approval")%></li>
			<li class="<%= "active" if @state == "marked_for_removal" %>"><%= link_to "Marked for Removal #{@products_marked_removal_count}", admin_boards_products_path(:state => "marked_removal")%></li>
			<li class="<%= "active" if @state == "published" %>"><%= link_to "Published #{@products_published_count}", admin_boards_products_path(:state => "published")%></li>
			<li class="<%= "active" if @state == "discontinued" %>"><%= link_to "Sold Out #{@products_discontinued_count}", admin_boards_products_path(:state => "discontinued")%></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div>
			<h3><%= @products.total_count %> <%= @supplier.name if @supplier %> <%= "product".pluralize(@products.total_count) %> <%= params[:state] ? params[:state].humanize.downcase : "waiting approval" %></h3>
		</div>
		<div>
			<%= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
			<p><%= select :product, :supplier_id, options_for_select(@suppliers_select, selected: @supplier ? @supplier.id : ""), {include_blank: 'All Suppliers'}%> <%= submit_tag "Filter", :class => "btn btn-primary btn-sm"%></p>
			<% end %>
		</div>

		<% if !@products.blank? %>


		<%= paginate @products %>
		<table class="table">
			
			<tbody>
				<% @products.each do |product| %>
				<%if product %>
				<tr>
					<td><%= mini_image(product, class: "img-thumbnail") %></td>
					<td><%= link_to product.name, edit_admin_product_path(product), {:target => "_blank"} %></td>
					
					<% if ["pending_approval", "marked_for_approval", "marked_for_removal", "marked_for_deletion"].include?(@state) %>
						<% if !product.board_products.pending_approval.blank? %>
							<td style="width: 400px;">
								<% product.board_products.pending_approval.each do |bp|%>
									<div class="row">
										<div class="col-md-2">
											<div id="board_product_state_<%=bp.id%>" class="board_product_state">
												<%= glyph_for_state(bp.state) %>
											</div>
											
										</div>
										<div class="col-md-5">
											<div style="">
												<% if bp.board %>
												<div><%= link_to bp.board.name, edit_admin_board_path(product.boards.first) %></div>
												<div><%= bp.board.designer.profile_display_name %></div>
												<% end %>
											</div>
										</div>	
										<div class="col-md-5" style="text-align: right;">
											<%= render :partial => "product_actions", :locals => {:board_product => bp}%>
											
										</div>
									</div>	
										
									
								<% end %>
								
							</td>
							
							
						<% else %>
							<td><%#= product.boards.first.designer.profile_display_name %></td>
						<% end %>
					<% else %>
					
					<% end %>
					
					
					
				</tr>

				<% end %>
				<% end %>
			</tbody>
		</table>
		<%= paginate @products %>

		

	



		<% else %>
		<div class="empty-state">No products for you!</div>

		<% end%>
	</div>

</div>

	

	<div class="modal fade modal-bp-remove" id="remove_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Remove Product from Room</h4>
		      </div>
		      <div class="modal-body">
				This will remove the product from the room when the room is returned to the designer.
				<h4>What do you want to do with this product?</h4>
				
				<label>
					
					
				</label>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
	</div>

<script>


$( document ).ready(function() {
	$(".btn-remove").click(function(e){
	    e.preventDefault();
	    //$('#remove_modal').appendTo("body").modal('show');
		
		// disable buttons
		// tell the server to disable
		// give feedback after changed
		
	});
});


	
</script>

