  
   <% if board_product.product %>
      <%= text_field_tag "board_product_#{board_product.id}_status", "", value: "#{board_product.status}", class: "hidden" %>

      <div class = "search-result board-product-tile row index <%= board_product.status %>" data-board-product-id = '<%= board_product.id %>' data-supplier = '<%= board_product.product.supplier.name %>'>
        <div class="actions col-md-1 tile-contents" >
          <div>
   


          <div>
            <a data-toggle ="tooltip" data-placement = "right" title = "Save board information" class = "save">
              <span class="glyphicon glyphicon-floppy-disk" data-board-product-id = '<%= board_product.id %>' data-product-id = '<%= board_product.product.id %>' data-board-id = '<%= board_product.board.id %>' data-variant-id = '<%= board_product.product.master.id %>' data-stock-item-id = '<%= board_product.product.master.stock_items.first.id %>'></span><br/>
            </a>
          </div>
          <br/>
          <br/>


            <a data-toggle ="tooltip" data-placement = "right" title = "Approve item for board" class = "ok">
              <span class="glyphicon glyphicon-ok  <%= board_product.status if board_product.status == "approved" %>" data-board-product-id = '<%= board_product.id %>' data-product-id = '<%= board_product.product.id %>' data-board-id = '<%= board_product.board.id %>' data-variant-id = '<%= board_product.product.master.id %>' data-stock-item-id = '<%= board_product.product.master.stock_items.first.id %>'></span>
            </a>
          </div>

          <br/>
          <br/>

          <div>
            <a data-toggle ="tooltip" data-placement = "right" title = "Reject item from board" class = "remove-button">
              <span class="glyphicon glyphicon-ban-circle <%= board_product.status if board_product.status == "rejected" %>" data-board-product-id = '<%= board_product.id %>' data-product-id = '<%= board_product.product.id %>' data-board-id = '<%= board_product.board.id %>' data-variant-id = '<%= board_product.product.master.id %>' data-stock-item-id = '<%= board_product.product.master.stock_items.first.id %>' ></span>
            </a>
          </div>


          <br/>
          <br/>
          <div>
            <a data-toggle ="tooltip" data-placement = "right" title = "Delete product entirely" class = "save">
              <span class="glyphicon glyphicon-remove <%= board_product.status if board_product.status == 'marked_for_deletion' %>" data-board-product-id = '<%= board_product.id %>' data-product-id = '<%= board_product.product.id %>' data-board-id = '<%= board_product.board.id %>' data-variant-id = '<%= board_product.product.master.id %>' data-stock-item-id = '<%= board_product.product.master.stock_items.first.id %>'></span><br/>
            </a>
          </div>
        </div>

        <div class = "col-md-2">
          <%= small_image(board_product.product, class: "img-thumbnail") %>
        </div>

      <% shipping_dimensions = "#{board_product.product.master.shipping_height} x #{board_product.product.master.shipping_width} x #{board_product.product.master.shipping_depth}" %>
      <% shipping_dimensions = (shipping_dimensions == " x  x ") ? "0 x 0 x 0" : shipping_dimensions %>

      <% product_dimensions = "#{board_product.product.master.height} x #{board_product.product.master.width} x #{board_product.product.master.depth}" %>
      <% product_dimensions = (product_dimensions == " x  x ") ? "0 x 0 x 0" : product_dimensions %>

        <div class = "col-md-7 product-details tile-contents">

          <div class = "row">
            <div class = "col-md-3"><b>Name:</b><br/><%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.name, placeholder: "Name"  %></div>
            <div class = "col-md-3"><b>SKU:</b><br/> <%= text_field_tag "product_#{board_product.product.id}_sku", board_product.product.sku  %></div>
            <%= render "shipping_dimensions_button", board_product: board_product, shipping_dimensions: shipping_dimensions %>
            <div class = "col-md-3">
              <b>Inventory:</b> <br/>
              <%= text_field_tag "variant_#{board_product.product.master.id}_inventory", board_product.product.master.stock_items.first.count_on_hand || "0", class: "inventory"  %>
              <span> of </span>
              <%= text_field_tag "variant_#{board_product.product.master.id}_supplier_inventory", board_product.product.master.stock_items.first.supplier_count_on_hand || "0", class: "inventory" %>
            </div>
          </div>

          <div class = "row">
            <div class = "col-md-2">
              <b>Cost:</b> <br/><%= text_field_tag "product_#{board_product.product.id}_cost", board_product.product.master.cost_price, class: "small-field" %>
            </div>

            <div class = "col-md-2">
              <b>Price:</b> <br/><%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price, class: "small-field" %>
            </div>

            <div class = "col-md-2">
              <b>MSRP:</b> <br/><%= text_field_tag "variant_#{board_product.product.master.id}_msrp_price", board_product.product.master.msrp_price, class: "small-field" %>
            </div>

            <div class = "col-md-2">
              <b>MAP:</b> <br/><%= text_field_tag "variant_#{board_product.product.master.id}_map_price", board_product.product.master.map_price, class: "small-field" %>
            </div>

            <div class = "col-md-2">
              <b>Days to Ship:</b> <br/><%= text_field_tag "variant_#{board_product.product.master.id}_days_to_ship", board_product.product.master.days_to_ship, class: "small-field" %>
            </div>

            <div class = "col-md-2">
              <b>Backorderable:</b> <br/>
              <div class='togglebox'>
                <%= check_box_tag "variant_#{board_product.product.master.id}_backorderable", 'yes', board_product.product.master.stock_items.first.backorderable  %>
                <%= label_tag "variant_#{board_product.product.master.id}_backorderable", "" %>
              </div>
            </div>

          </div>

          <div class = "row">
            <%= render "dimensions_button", board_product: board_product, product_dimensions: product_dimensions %>

            <div class = "col-md-2">
              <% unless board_product.product.variants.empty? %>
                <b>Variants:</b> <br/>
                <%= select_tag :variants, options_for_select(board_product.product.variants.collect(&:sku), board_product.product.variants.first.sku), class: "form-control", style: "width: 100px;" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class = "col-md-2 img-thumbnail tile-contents board-image">
          <%= board_image(board_product.board, :small) %>
        </div>

      </div>
    <% end %>