  
<% if board_product.product %>
  <%= text_field_tag "board_product_#{board_product.id}_status", "", value: "#{board_product.status}", class: "hidden" %>

  <% shipping_dimensions = [] %>
  <% product_dimensions = [] %>

  <% board_product.product.variants.each_with_index do |v,i| %>
    <div class="search-result board-product-tile variant-tile row index <%= board_product.status %> " data-board-product-id='<%= board_product.id %>' data-supplier='<%= board_product.product.supplier.name %>', data-product-id='<%= board_product.product_id %>', data-board-id='<%= board_product.board.id if board_product.product.variants.first == v  %>', data-variant-id='<%= v.id %>' style=<%= board_product.product.variants.first != v ? "display:none;" : "" %> >


      <div class="actions col-md-1 tile-contents " >
        <div>
			<% if !v.stock_items.blank? %>
          <div>
			
            <a data-toggle ="tooltip" data-placement="right" title="Save board information" class="save">
              <span class="glyphicon glyphicon-floppy-disk" data-board-product-id='<%= board_product.id %>' data-product-id='<%= board_product.product_id %>' data-board-id='<%= board_product.board_id %>' data-variant-id='<%= v.id %>' data-stock-item-id='<%= v.stock_items.first.id %>'></span><br/>
            </a>
          </div>
          <br/>
          <br/>


          <a data-toggle ="tooltip" data-placement="right" title="Approve item for board" class="ok">
            <span class="glyphicon glyphicon-ok  <%= board_product.status if board_product.status == "approved" %>" data-board-product-id='<%= board_product.id %>' data-product-id='<%= board_product.product_id %>' data-board-id='<%= board_product.board_id %>' data-variant-id='<%= v.id %>' data-stock-item-id='<%= v.stock_items.first.id %>'></span>
          </a>

        </div>

        <br/>
        <br/>

        <div>
          <a data-toggle ="tooltip" data-placement="right" title="Reject item from board" class="remove-button">
            <span class="glyphicon glyphicon-ban-circle <%= board_product.status if board_product.status == "rejected" %>" data-board-product-id='<%= board_product.id %>' data-product-id='<%= board_product.product_id %>' data-board-id='<%= board_product.board_id %>' data-variant-id='<%= v.id %>' data-stock-item-id='<%= v.stock_items.first.id %>' ></span>
          </a>
        </div>

        <br/>
        <br/>
        <div>


          <a data-toggle ="tooltip" data-placement="right" title="Delete product entirely" class="save">
            <span class="glyphicon glyphicon-remove <%= board_product.status if board_product.status == 'marked_for_deletion' %>" data-board-product-id='<%= board_product.id %>' data-product-id='<%= board_product.product_id %>' data-board-id='<%= board_product.board_id %>' data-variant-id='<%= v.id %>' data-stock-item-id='<%= v.stock_items.first.id %>'></span><br/>
          </a>

        </div>
      </div>
		<% else %>
		No Stock items defined.
		<% end%>
      <div class="col-md-2">
        <%= small_image(board_product.product, class: "img-thumbnail") %>
      </div>

      <% shipping_dimensions[i] = "#{v.shipping_height} x #{v.shipping_width} x #{v.shipping_depth}" %>
      <% shipping_dimensions[i] = (shipping_dimensions[i] == " x  x ") ? "0 x 0 x 0" : shipping_dimensions[i] %>

      <% product_dimensions[i] = "#{v.height} x #{v.width} x #{v.depth}" %>
      <% product_dimensions[i] = (product_dimensions[i] == " x  x ") ? "0 x 0 x 0" : product_dimensions[i] %>

      <div class="col-md-7 product-details tile-contents">

        <div class="row">
          <div class="col-md-3"><b>Name:</b><br/><%= text_field_tag "product_#{board_product.product_id}_name", board_product.product.name, placeholder: "Name"  %></div>

          <div class="col-md-3"><b>SKU:</b><br/> <%= text_field_tag "product_#{v.id}_sku", v.sku, "data-product-id" => v.product_id, "data-variant-id" => v.id %></div>
          <!-- put the shipping dimensions calculations inside the partial -->
          <%= render "spree/admin/board_products/shipping_dimensions_button", board_product: board_product, shipping_dimensions: shipping_dimensions[i], variant: v %>

          <div class="col-md-3">
            <b>Inventory:</b> <br/>
            <%= text_field_tag "variant_#{v.id}_inventory", v.stock_items.first.count_on_hand || "0", class: "inventory", "data-product-id" => v.product_id, "data-variant-id" => v.id   %>
            <span> of </span>
            <%= text_field_tag "variant_#{v.id}_supplier_inventory", v.stock_items.first.supplier_count_on_hand || "0", class: "inventory", "data-product-id" => v.product_id, "data-variant-id" => v.id  %>
          </div>


        </div>

        <div class="row">

          <div class="col-md-2">
            <b>Cost:</b> <br/><%= text_field_tag "variant_#{v.id}_cost_price", v.cost_price, class: "small-field cost-price", "data-product-id" => v.product_id, "data-variant-id" => v.id %>
          </div>

          <div class="col-md-2">
            <b>Price:</b> <br/><%= text_field_tag "variant_#{v.id}_price", v.price, class: "small-field price", "data-product-id" => v.product_id, "data-variant-id" => v.id %>
          </div>

          <div class="col-md-2">
            <b>MSRP:</b> <br/><%= text_field_tag "variant_#{v.id}_msrp_price", v.msrp_price, class: "small-field msrp-price", "data-product-id" => v.product_id, "data-variant-id" => v.id %>
          </div>

          <div class="col-md-2">
            <b>MAP:</b> <br/><%= text_field_tag "variant_#{v.id}_map_price", v.map_price, class: "small-field map-price", "data-product-id" => v.product_id, "data-variant-id" => v.id  %>
          </div>

          <div class="col-md-2">
            <b>Days to Ship:</b> <br/><%= text_field_tag "variant_#{v.id}_days_to_ship", v.days_to_ship, class: "small-field days-to-ship", "data-product-id" => v.product_id, "data-variant-id" => v.id %>
          </div>

          <div class="col-md-2">
            <b>Backorderable:</b> <br/>
            <div class='togglebox'>
              <%= check_box_tag "variant_#{v.id}_backorderable", 'yes', v.stock_items.first.backorderable, "data-product-id" => v.product_id, "data-variant-id" => v.id, class: "backorderable" %>
              <%= label_tag "variant_#{v.id}_backorderable", "" %>
            </div>
          </div>

        </div>

        <div class="row">
          <%= render "spree/admin/board_products/dimensions_button", board_product: board_product, product_dimensions: product_dimensions[i], v: v %>

          <div class="col-md-2">
            <b>Variants:</b> <br/>
            <%= select_tag :variants, options_for_select(board_product.product.variants.collect(&:sku).zip(board_product.product.variants.collect(&:id)), board_product.product.variants.first.sku), class: "form-control variant-select", style: "width: 100px;", "data-product-id" => board_product.product_id %>
          </div>
          <div class="col-md-3">
            <b>Shipping Category:</b> <br/>
			<%#= collection_select :product, :shipping_category_id, Spree::ShippingCategory.all(), :id, :name %>
			<% if false %>
            <% shipping_cateogry = ["US - Parcel",1] if board_product.product.shipping_category_id == 1 %>
            <% shipping_cateogry = ["Gift Card", 2] if board_product.product.shipping_category_id == 2 %>
            <% shipping_cateogry = ["US - Freight", 3] if board_product.product.shipping_category_id == 3 %>
            <% shipping_cateogry = ["US - Ground", 4] if board_product.product.shipping_category_id == 4 %>

            <%= select_tag :shipping_methods, options_for_select([
              ["US - Parcel",1],
              ["Gift Card", 2],
              ["US - Freight", 3],
              ["US - Ground", 4]
            ],
            shipping_cateogry), class: "form-control shipping-method-select", style: "width: 120px;", "data-product-id" => board_product.product.id %>

			<% end %>

          </div>
        </div>
      </div>

      <div class="col-md-2 img-thumbnail tile-contents board-image">
        <%= board_image(board_product.board, :small) %>
      </div>

    </div>
  <% end %>
<% end %>