<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<%= javascript_include_tag 'admin/board_products.js' %>

<%= render :partial => 'spree/admin/shared/boards_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:products_on_boards) %>
<% end %>


<div class = 'row '>
  <div class = "form-group col-md-4 left" id = "product-search">
    <b><%= label_tag "Show only products for supplier:" %></b>
    <%= select_tag :suppliers, options_for_select(@supplier_names, @supplier_names.first), class: "form-control" %>
  </div>

  <div class = "form-group col-md-4 col-md-offset-4 right" id = "product-search">
    <b><%= label_tag "Show products that are :" %></b>
    <%= select_tag :status, options_for_select(["All products","Pending", "Approved", "Rejected"], "All Products"), class: "form-control" %>
  </div>
</div>

    <% @board_products.each do |board_product| %>
     <% if board_product.product %>
        <% shipping_dimensions = "#{board_product.product.master.shipping_height} x #{board_product.product.master.shipping_width} x #{board_product.product.master.shipping_depth}" %>
        <% shipping_dimensions = (shipping_dimensions == " x  x ") ? "0 x 0 x 0" : shipping_dimensions %>
 
        <div class = "board_product_<%= board_product.id %> search-result board-product-tile row index <%= board_product.product.supplier.name %> <%= board_product.status %>">

          <div class="actions col-md-1 tile-contents" >

            <div>
              <a data-toggle ="tooltip" data-placement = "right" title = "Approve item for board" class = "ok">
                <span class="glyphicon glyphicon-ok <%= board_product.id %> <%= board_product.product.id %> <%= board_product.board.id %> <%= board_product.product.master.id %> <%= board_product.status if board_product.status == "approved" %>"></span>
              </a>
            </div>

            <br/>
            <br/>

            <div>
              <a data-toggle ="tooltip" data-placement = "right" title = "Reject item from board" class = "remove-button" href = "#<%= board_product.id %>">
                <span class="glyphicon glyphicon-remove <%= board_product.id %> <%= board_product.product.id %> <%= board_product.board.id %> <%= board_product.product.master.id %> <%= board_product.status if board_product.status == "rejected" %>"></span>
              </a>
            </div>

            <br/>
            <br/>
            <div>
              <a data-toggle ="tooltip" data-placement = "right" title = "Save board information" class = "save" href = "#<%= board_product.id %>">
                <span class="glyphicon glyphicon-floppy-disk <%= board_product.id %> <%= board_product.product.id %> <%= board_product.board.id %> <%= board_product.product.master.id %>"></span><br/>
              </a>
            </div>

          </div>

          <div class = "col-md-2">
            <%= small_image(board_product.product, class: "img-thumbnail") %>
          </div>

          <% shipping_dimensions_inputs = text_field_tag("height") + text_field_tag("width") + text_field_tag("depth") %>
          <div class = "col-md-7 product-details tile-contents">

            <div class = "row">
              <div class = "col-md-3"><b>Name:</b><br/><%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.name, placeholder: "Name"  %></div>
              <div class = "col-md-3"><b>SKU:</b><br/> <%= text_field_tag "product_#{board_product.product.id}_sku", board_product.product.sku  %></div>
              <div class = "col-md-3"><b>Shipping Dimensions:</b><br/> 
                <%= button_tag shipping_dimensions, 
                          data: { 
                            title: "Shipping Dimensions", html: true, container: "body", toggle: "popover", placement: "right", 
                            content: %Q{ 
                                        Height: <input class = 'product_shipping_height' 
                                                       id    = 'variant_#{board_product.product.master.id}_shipping_height' 
                                                       type  = 'text' 
                                                       >
                                                </input><br/><br/> 
                                        Width: <input class = 'product_shipping_width' id = 'variant_#{board_product.product.master.id}_shipping_width' type = 'text'></input><br/><br/> 
                                        Depth: <input class = 'product_shipping_depth' id = 'variant_#{board_product.product.master.id}_shipping_depth' type = 'text'></input> 
                                      }
                          }, 
                          class: "btn btn-default btn-primary dimension-button #{board_product.product.master.id}", 
                          id: "variant_#{board_product.product.master.id}_dimensions" ,
                          width: "500px"
                %>
  <p class = "hidden" id= "variant_<%= board_product.product.master.id %>_shipping_information">
    Height: <input class = 'product_shipping_height' id = <%= "variant_#{board_product.product.master.id}_shipping_height_actual" %> type  = 'text' value = <%= "#{board_product.product.master.shipping_height}" %>></input><br/><br/> 
    Width: <input class = 'product_shipping_width' id = <%= "variant_#{board_product.product.master.id}_shipping_width_actual" %> type = 'text' value = <%= "#{board_product.product.master.shipping_width}" %>></input><br/><br/> 
    Depth: <input class = 'product_shipping_depth' id = <%= "variant_#{board_product.product.master.id}_shipping_depth_actual" %> type = 'text' value = <%= "#{board_product.product.master.shipping_depth}" %>></input> 
  </p>
             </div>
              <div class = "col-md-3"><b>Inventory:</b> <br/><%= text_field_tag "product_#{board_product.product.id}_inventory", "10" %></div>
            </div>

            <div class = "row">
              <div class = "col-md-3">
                <b>Cost:</b> <br/><%= text_field_tag "product_#{board_product.product.id}_cost", board_product.product.master.cost_price %>
              </div>

              <div class = "col-md-3">
                <b>Price:</b> <br/><%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price %>
              </div>

              <div class = "col-md-3">
                <b>MSRP:</b> <br/><%= text_field_tag "variant_#{board_product.product.master.id}_msrp_price", board_product.product.master.msrp_price %>
              </div>

              <div class = "col-md-3">
                <b>MAP:</b> <br/><%= text_field_tag "variant_#{board_product.product.master.id}_map_price", board_product.product.master.map_price %>
              </div>
            </div>

          </div>

          <div class = "col-md-2 img-thumbnail tile-contents board-image">
            <%= board_image(board_product.board, :small) %>
          </div>

        </div>
      <% end %>
    <% end %>

  </div>

<div>
