<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<%= render :partial => 'spree/admin/shared/boards_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:products_on_boards) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:filter) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_boards_index_filter">
    <%= search_form_for [:admin, @search] do |f| %>
      <div class="field-block alpha six columns">

        <div class="field">
          <%= label_tag nil, Spree.t(:board_status) %><br />
          <%= f.select :status_eq, Spree::Board.status_options, {:include_blank => true}, :class => 'select2' %>
        </div>
		
      </div>

		<div class="omega six columns">
			<div class="field">
	          <%= label_tag nil, Spree.t(:designer) %><br />
	          <%#= f.select :designer_id_eq, Spree::User.all().is_active_designer.collect{|designer| [designer.full_name, designer.id]}, {:include_blank => true}, :class => 'select2' %>
	        </div>
	        <div class="date-range-filter field">
	          <%= label_tag nil, Spree.t(:date_range) %>
	          <div class="date-range-fields">
	            <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start) %>

	            <span class="range-divider">
	              <i class="icon-arrow-right"></i>
            </span>

	            <%= f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop) %>
	          </div>
	        </div>

	      </div>




      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_orders_index_search_buttons">
          <%= button Spree.t(:filter_results), 'icon-search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<table class="index">
	<colgroup>
		<col style="width: 5%;">
		<col style="width: 10%;">
		<col style="width: 85%;">
	</colgroup>
	<thead>
		<tr>
			<th class="actions"></th>
			<th colspan="2">Products on Boards</th>
		</tr>
	</thead>
  
	<tbody>
    <% @board_products.each do |board_product| %>
    <% if board_product.product %>

      <% background_color = cycle('odd', 'even') %>
      <% shipping_dimensions = "#{board_product.product.master.shipping_height}x#{board_product.product.master.shipping_width}x#{board_product.product.master.shipping_depth}" %>
      <% shipping_dimensions = (shipping_dimensions == "xx") ? "" : shipping_dimensions %>
<!-- Edit version -->


      <tr class="<%= background_color %> " id="editing_<%= board_product.id %>">
        <td  class="actions">
          <%= link_to_edit board_product, :no_text => true, href: "##{board_product.id}##{board_product.product.id}##{board_product.board.id}", class: "edit-product save-product-button" %> 
          <br />
          <%= link_to_delete board_product, :no_text => true %>
        </td>

        <td class="align-center"><%= mini_image(board_product.product) %></td>

        <td class = "product-data">

          <table>
            <tr>
              <td>Name: <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.name, placeholder: "Name" %></td>
              <td>Price: <%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price %></td>
              <td>Dimensions: <%= text_field_tag "product_#{board_product.product.id}_name", shipping_dimensions %></td>
            </tr>
            <tr>
              <td>SKU: <%= board_product.product.sku %></td>
              <td>MSRP: <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.master.msrp_price %></td>
              <td>Inventory: <%= text_field_tag "product_#{board_product.product.id}_name", "inventory" %></td>
            </tr>
            <tr>
              <td>Cost: <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.master.cost_price %></td>
              <td>MAP: <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.master.map_price %></td>
              <td></td>
            </tr>
          </table>

        </td>


<!-- Edit version -->

  <% end %>
  <% end %>
  </tbody>
</table>
<script>

  $(".save-product-button").click(function(e){
      split_url = e.target.href.split("#");

      board_product_id = split_url[1];
      product_id = split_url[2];
      board_id = split_url[3];

      // here we'll need to make a couple posts
      // so far i know we'll need to post to products and board_products
      // maybe variants and shipping options too?
      new_product_name = $("#product_"+product_id+"_name").val();
      new_product_price = $("#product_"+product_id+"_price").val();

      new_product = {
        name: new_product_name,
        price: new_product_price
      };

      new_board_name = $("#board_"+board_id+"_name").val();

      new_board = {
        name: new_board_name
      };

      alert(JSON.stringify(new_product));
      alert(JSON.stringify(new_board));
      alert("Looking into routes to post these to...");

//      $("#board_product_"+board_product_id).show();
//      $("#editing_"+board_product_id).hide();
  });

</script>

<%= paginate @board_products %>
