<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<%= render :partial => 'spree/admin/shared/boards_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:products_on_boards) %>
<% end %>


<% @board_products.each do |board_product| %>
  
  <% if board_product.product %>
    <% shipping_dimensions = "#{board_product.product.master.shipping_height}x#{board_product.product.master.shipping_width}x#{board_product.product.master.shipping_depth}" %>
    <% shipping_dimensions = (shipping_dimensions == "xx") ? "0x0x0" : shipping_dimensions %>

    <div class = "search-result row index bg-danger">

      <div class="actions col-md-1">

        <a class = "ok" href = "#<%= board_product.id %>"> <span class="glyphicon glyphicon-ok glyphicon-ok-<%= board_product.id %>"></span></a>
        <br/>
        <br/>
        <br/>
        <a href = "#<%= board_product.id %>"> <span class="glyphicon glyphicon-remove"></span></a>
        <br/>
        <br/>
        <br/>
        <a href = "#<%= board_product.id %>"> <span class="glyphicon glyphicon-floppy-disk"></span><br/></a>
<!--        <%= link_to_edit board_product, :no_text => true, href: "##{board_product.id}##{board_product.product.id}##{board_product.board.id}", class: "edit-product save-product-button" %> 
        <br />
        <%= link_to_delete board_product, :no_text => true %>
-->
      </div>

      <div class = "col-md-2 product-picture">
        <%= small_image(board_product.product, class: "img-thumbnail") %>
      </div>

      <div class = "col-md-7 product-details">

        <div class = "row">
          <div class = "col-md-3">Name:<br/> <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.name, placeholder: "Name" %></div>
          <div class = "col-md-3">SKU:<br/> <%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.sku  %></div>
          <div class = "col-md-3">Dimensions:<br/> <%= text_field_tag "product_#{board_product.product.id}_name", shipping_dimensions %></div>
          <div class = "col-md-3">Inventory: <br/><%= text_field_tag "product_#{board_product.product.id}_name", "10" %></div>
        </div>

        <div class = "row">
          <div class = "col-md-3">MSRP: <br/><%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price %></div>
          <div class = "col-md-3">Price: <br/><%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price %></div>
          <div class = "col-md-3">Cost: <br/><%= text_field_tag "product_#{board_product.product.id}_name", board_product.product.name, placeholder: "Name" %></div>
          <div class = "col-md-3">MAP: <br/><%= text_field_tag "product_#{board_product.product.id}_price", board_product.product.price %></div>
        </div>

      </div>

      <div class = "col-md-2 farm-picture">
        <%= board_image(board_product.board, :small) %>
      </div>

    </div>
  <% end %>
<% end %>

<script>

$(".sixteen").removeClass("sixteen")

$(".glyphicon-ok").click(function(e){
    split_url = document.URL.split("#");
    alert("approving " + split_url[1]);
});

$(".glyphicon-remove").click(function(e){
    split_url = document.URL.split("#");
    alert("removing " + split_url[1]);
});

$(".glyphicon-floppy-disk").click(function(e){
    split_url = document.URL.split("#");
    alert("saving the changes to " + split_url[1]);
});

$(".columns").removeClass("columns")

  $(".save-product-button").click(function(e){

      board_product_id = split_url[1];
      product_id = split_url[2];
      board_id = split_url[3];

      // here we'll need to make a couple posts
      // so far i know we'll need to post to products and board_products
      // maybe variants and shipping options too?
      new_product_name = $("#product_"+product_id+"_name").val();
      new_product_price = $("#product_"+product_id+"_price").val();

      new_product = {
        name: new_product_name,
        price: new_product_price
      };

      new_board_name = $("#board_"+board_id+"_name").val();

      new_board = {
        name: new_board_name
      };

      alert(JSON.stringify(new_product));
      alert(JSON.stringify(new_board));
      alert("Looking into routes to post these to...");

//      $("#board_product_"+board_product_id).show();
//      $("#editing_"+board_product_id).hide();
  });

</script>

<%= paginate @board_products %>
