<% if @products.any? %>
	<% @products.in_groups_of(4, false) do |row_products| %>
	<div id="products" class="row">
		<% for product in row_products %>
		<div class="col-md-3">
			<div class="product-listing">
				<div class="product-image board-product-image" style="min-height">
		        	<%= link_to raw("<span class=\"helper\"></span>#{product_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
		      	</div>
		      	<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
		      	<span class="price selling" itemprop="price"><%= display_price(product) %></span>
				<% if false %><div><% if product.images.first %>
					<a href="javascript:void(0);" class="add-to-cart-button" data-product-name="<%=product.name%>" data-product-price="<%= display_price(product) %>" data-product-image-url="<%=product.images.first.attachment.url(:mini)%>" data-product-id="<%= product.id %>" data-variant-number="1">Add to Cart</a><% end %></div><%end%>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
<% end %>