<% if products.any? %>
	<% products.in_groups_of(4, false) do |row_products| %>
	<div id="products" class="row">
		<% for product in row_products %>
		<div class="col-md-3">
			
			
			<div class="product-listing">
				<div class="responsive-container">
				    <div class="dummy"></div>

				    <div class="img-container">
				        <div class="centerer"></div>
				        <%= link_to raw("#{listing_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
				    </div>
				</div>
				
		      	<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
				<div class="row">
					<div class="col-md-12">
						<div>
							<span class="price" itemprop="price">
							<%= display_price_range(product)%>
							<%#= display_price(product.master) %></span>
							
							<% if product.has_variants?%>
								<% variants = product.variants.order(:msrp_price)%>
								<% if variants.first and variants.last and !variants.first.msrp_price.nil? and variants.first.msrp_price > 0 and !variants.last.msrp_price.nil? and variants.last.msrp_price > 0 and variants.first.msrp_price != variants.last.msrp_price %>
									<span class="msrp"><%= display_msrp(variants.first) %> - <%= display_msrp(variants.last) %></span>
									<span class="price-percentage-off">
										 <%= display_range_percentage_off(product) %>
									</span>
								<% end %>
							<% else %>
								<% if !product.master.msrp_price.nil? %>
								<span class="msrp"><%= display_msrp(product.master) %></span>
								<span class="price-percentage-off">
									 <%= display_percentage_off(product.master) %>
								</span>
								<% end%>
							<% end %>
						</div>
						<div>
							<% if FREE_SHIPPING_CATEGORY_IDS.include?(product.shipping_category_id) %>
							<span class="products-free-shipping"><i class="fa fa-truck"></i> Free Shipping</span>
							<% end %>
						</div>
					</div>
					
				</div>
		      	
				
				<% if false %>
				<div><a href="javascript:void(0);" class="add-to-cart-button" data-product-name="<%=product.name%>" data-product-price="<%= display_price(product) %>" data-product-image-url="<%=product.images.first.attachment.url(:mini) if product.images.first %>" data-product-id="<%= product.id %>" data-variant-number="1">Add to Cart</a></div>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
<% end %>