<% if products.any? %>
	<% products.in_groups_of(4, false) do |row_products| %>
	<div id="products" class="row">
		<% for product in row_products %>
		<div class="col-md-3">
			<div class="product-listing">
				<div class="product-image board-product-image" style="min-height">
		        	<%= link_to raw("<span class=\"helper\"></span>#{listing_image(product, :itemprop => 'image')}"), product, :itemprop => 'url' %>
		      	</div>
		      	<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
		      	<div class="row">
					<div class="col-md-12">
						<div>
							<span class="price" itemprop="price"><%= display_price(product.master) %></span>
							<% if !product.master.msrp_price.nil? %>
							<span class="msrp"><%= display_msrp(product.master) %></span>
							<span class="price-percentage-off">
								 <%= display_percentage_off(product.master) %>
							</span>
							<% end%>
						</div>
						<div>
							<% if FREE_SHIPPING_CATEGORY_IDS.include?(product.shipping_category_id) %>
							<span class="products-free-shipping"><i class="fa fa-truck"></i> Free Shipping</span>
							<% end %>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<% end %>
<% end %>