<div class="page-header clearfix">
	<h1>Select a Designer</h1>
</div>
<% if false %>

<ul id="products" class="inline product-listing" data-hook>
  <% @designers.each do |designer| %>
    <li class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="designers_list_item" itemscope>
      <div class="product-image">
		<%= render :partial => "designer_thumb", :locals => {:designer => designer}%>
      </div>
      	<%= link_to designer.full_name, designer_path(designer), :class => 'info' %>
		<%#= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<% @designers.in_groups_of(4,false) do |row_designers| %>
	<div class="row">
	<% for designer in row_designers %>
		<div class="col-md-3">
			<div class="designer-listing">
				<%= render :partial => "designer_thumb", :locals => {:designer => designer}%>
				<h4><%= link_to designer.full_name, "/#{designer.username}" %></h4>
			</div>
		</div>
    <% end %>
	</div>
<% end %>
