<div class="page-header clearfix">
	<h1>Our Featured Designers</h1>
</div>
<% if false %>

<ul id="products" class="inline product-listing" data-hook>
  <% @designers.each do |designer| %>
    <li class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="designers_list_item" itemscope>
      <div class="product-image">
		<%= render :partial => "designer_thumb", :locals => {:designer => designer}%>
      </div>
      	<%= link_to designer.full_name, designer_path(designer), :class => 'info' %>
		<%#= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %>
    </li>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<ul class="ch-grid">
    
    
<% @designers.in_groups_of(4,false) do |row_designers| %>
	

	<% for designer in row_designers %>
	
		<% if designer.user_images.blank? %>
			
			<li style="margin-top: 60px;">
				
		        <div class="ch-item ch-img-default">
		              <a href="/<%=designer.username%>" >
			             <div class="ch-info">
			                <h3><%=designer.company_name %></h3>
			                <p><%= designer.location%></p>
			             </div>
		            </a>
		        </div>
		        
		       <a href="/<%=designer.username%>" style="color:black;font-size:18px;">
			       <div style="margin-top: 25px;">
				       <%if designer.full_name.present?%>
					 <%= designer.full_name %> 
				       <%elsif designer.username.present?%>
					      <%= designer.username %> 
					<%else%>
						  &nbsp;    
		            	       <%end%>
		               </div>

		        </a>
		    </li>
		       	
		<% else %>
			<style>
				.ch-img-<%=designer.id %> { 
				    background-image: url(<%=designer.user_images.first.attachment(:primary)%>);
                    /*background-repeat: no-repeat;*/
                    /*background-position: center;*/
                    /*background-size: 220px 220px ;*/
				}
			</style>
			<li style="margin-top: 60px;">
			
		        <div class="ch-item ch-img-<%=designer.id %>">
		          <a href="/<%=designer.username%>" >
		             <div class="ch-info">
		                <h3><%= designer.company_name %></h3>
						<p><%= designer.location%></p>
		            </div>
		          </a>
		        </div>
		     <a href="/<%=designer.username%>" style="color:black;font-size:18px;"> 
                       <div style="margin-top: 25px;">
		               <%if designer.full_name.present?%>
				 <%= designer.full_name %> 
			       <%elsif designer.username.present?%>
				      <%= designer.username %> 
				<%else%>
				           
			       <%end%>
   	              </div>
                     </a>
		    </li>
		<% end %>
	
		
    <% end %>

<% end %>
</ul>

<% if false %>
<% @designers.in_groups_of(4,false) do |row_designers| %>
	<div class="row">
	<% for designer in row_designers %>
		<div class="col-md-3">
			<div class="designer-listing">
				<%= render :partial => "designer_thumb", :locals => {:designer => designer}%>
				<h4><%= link_to designer.full_name, "/#{designer.username}" %></h4>
			</div>
		</div>
    <% end %>
	</div>
<% end %>
<% end %>
