
<div class="designer-header">
	<% if @designer.logo_image %>
		<div class="designer-logo">
			<%= image_tag(@designer.logo_image.attachment(:small)) %>
		</div>
	<% end %>
	<div class="designer-info">
		<h1><%= @designer.full_name %></h1>
		<p><%= @designer.company_name %></p>
	</div>
	
</div>
<div id="designer-banner"></div>

<div class="designer-description">
	<div class="row">
		<div class="col-md-12">
			<%= @designer.description %>
		</div>
	</div>
</div>
<div class="designer-boards">
	<% unless @designer.boards.active.blank? %>
		<% @designer.boards.active.in_groups_of(3, false) do |row_boards| %>
		<div class="row">

			<% for board in row_boards %>
			<div class="col-md-4">
				<div class="board-listing">
					<div class="board-image">
					<%= link_to board_image(board, :primary), room_path(board)%>
					</div>
					<div class="board-meta">
						<h3><%= link_to board.name, room_path(board) %></h3>
						<div class=""><%= board.room_and_style%></div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>
	<% else %>
	<div class="empty-state">
		This designer doesn't have any boards at this time.
	</div>
	<% end%>
</div>

<script>
	<% if !@designer.user_images.blank? and @designer.user_images.first%>
	$(document).ready(function() {	    
		$("#designer-banner").backstretch("<%=@designer.user_images.first.attachment(:banner)%>");
	});
	<% end %>
</script>