
<div class="row">
	<div class="alpha ten columns">
		<%= f.field_container :name do %>
		<%= f.label :name, "Name" %>
		<%= f.text_field :name, :class => 'field' %>
		<%= f.error_message_on :name %>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="alpha ten columns">
		<%= f.field_container :path do %>
		<%= f.label :path, "Path" %>
		<%= f.text_field :path, :class => 'field' %>
		<%= f.error_message_on :path %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="alpha ten columns">
		<%= f.field_container :slider_image do %>
			<%= f.fields_for :slider_image do |slider_image|%>
				<table class="form-image-table">
					<tr>
						<% if !@slide.slider_image.new_record? %>
						<td style="padding-right: 10px;"><%= image_tag(@slide.slider_image.attachment(:small)) %></td>
						<% end %>
						<td>
							<% if !@slide.slider_image.new_record? %>
								<%= slider_image.label :attachment, "Change Slide Image" %>
							<% else %>
								<%= slider_image.label :attachment, "Slide Image" %>
							<% end %>
							<div id="slider_image_file" class="choose-file-button">Choose a file</div>
							<%= slider_image.file_field :attachment %>	
						</td>
					</tr>
				</table>
			<% end %>
		<% end %>
	</div>
</div>



<div class="row">
	<div class="alpha ten columns">
		<div id="starts_at_field" class="field">
			<%= f.label :published_at %>
			<%= f.text_field :published_at, :value => datepicker_field_value(f.object.published_at), :class => 'datepicker datepicker-from fullwidth' %>
		</div>
	</div>
</div>


<div class="row">
	<div class="alpha ten columns">
		<div id="expires_at_field" class="field">
			<%= f.label :expires_at %>
			<%= f.text_field :expires_at, :value => datepicker_field_value(f.object.expires_at), :class => 'datepicker datepicker-to fullwidth' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="alpha ten columns">
		<%= f.field_container :is_default do %>
		<label>
			<%= f.check_box :is_default %> Show this as the default backup if there are no other slides scheduled.
		</label>
		<% end %>
	</div>
</div>






