<div class="row">
	<div class="col-md-3">
		<h4>Designer Dashboard</h4>
		<ul class="nav nav-stacked">
			<li class="active"><a href="/dashboard">Dashboard Home</a></li>
			<li><a href="/my_boards">My Boards</a></li>
			<li><a href="/my_profile">My Profile</a></li>
		</ul>

	</div>

	<div class="col-md-9">
		<div class="page-header clearfix">
			<h1>Dashboard</h1>

		</div>
		
		<h3>Your Boards</h3>
  		<% unless @boards.blank? %>
		<table class="table table-board-listing">
			<thead>
				<tr>
					<th>Preview</th>
					<th>Board Name</th>
					<th class="align-center"># Products</th>
					<th class="align-center"># Views</th>
					<th>Status</th>
					
				</tr>
			</thead>
			<tbody>
			<% @boards.each do |board|%>
				
				<tr>
					<td class="board-thumb">
						<%= link_to board_image(board,:mini), design_board_path(board)%>
					</td>
					<td><%= link_to board.name, design_board_path(board) %></td>
					<td class="align-center"><%= board.board_products.size %></td>
					<td class="align-center"><%= board.impressionist_count %></td>
					<td><%= board.display_status %></td>
					
				</tr>
			<% end%>
			</tbody>
			</table>
		<% else %>
		<div class="empty-state">You have not created any boards yet.</div>
		<% end %>
	</div>
</div>
