<div class="row">
	<div class="col-md-3">
		<%= render :partial => "dashboard_menu", :locals => {:selected => "profile"}%>

	</div>

	<div class="col-md-9">

		
		<div class="page-header">
			<h1>Your Profile</h1>
		</div>


		<div class="row">
			<div class="col-md-4">
			
		<%= form_for [@user], :url => update_designer_path, :html => {:multipart => true} do |f| %>
			<div class="form-group">
				<%= f.label :first_name, Spree.t(:first_name) %>
				<%= f.text_field :first_name, :class => 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :last_name, Spree.t(:last_name) %>
				<%= f.text_field :last_name, :class => 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :description, Spree.t("Tell us a little about yourself") %>
				<%= f.text_area :description, :class => 'form-control', :rows => 4 %>
			</div>
			<div class="form-group">
				<%= f.label :company_name, Spree.t(:company_name) %>
				<%= f.text_field :company_name, :class => 'form-control' %>
			</div>
			<div class="form-group">
				<%= f.label :website_url, Spree.t(:website_url) %>
				<%= f.text_field :website_url, :class => 'form-control' %>
			</div>
			
			<div class="form-group">
				<%= f.label :blog_url, Spree.t(:blog_url) %>
				<%= f.text_field :blog_url, :class => 'form-control' %>
			</div>
			
			<div class="form-group">
				<%= f.label :location, Spree.t(:location) %>
				<%= f.text_field :location, :class => 'form-control' %>
			</div>
			
		
			
			<div class="form-group">
			<%= f.field_container :user_image do %>
				<%= f.fields_for :user_images do |user_image|%>
					
						<table class="form-image-table">
							<tr>
								<% unless @user.user_images.first.new_record? %>
								<td><%= image_tag(@user.user_images.first.attachment(:small)) %></td>
								<% end %>
								<td>
									<% unless @user.user_images.first.new_record? %>
										<%= user_image.label :attachment, "Change Profile Image" %>
									<% else %>
										<%= user_image.label :attachment, "Profile Image" %>
									<% end%>
									<div id="user_image_file" class="choose-file-button">Choose a file</div>
									<%= user_image.file_field :attachment %>	
								</td>
							</tr>
						</table>
		      
				<% end %>
			<% end %>
			</div>
			<div class="form-group">
			<%= f.field_container :logo_image do %>
				<%= f.fields_for :logo_image do |logo_image|%>
					<table class="form-image-table">
						<tr>
							<% unless @user.logo_image.new_record? %>
							<td><%= image_tag(@user.logo_image.attachment(:small)) %></td>
							<% end %>
							<td>
								<% unless @user.logo_image.new_record? %>
									<%= logo_image.label :attachment, "Change Your Logo" %>
								<% else %>
									<%= logo_image.label :attachment, "Your Logo" %>
								<% end %>
								<div id="logo_file" class="choose-file-button">Choose a file</div>
								<%= logo_image.file_field :attachment %>	
							</td>
						</tr>
					</table>
				<% end %>
			<% end %>
			</div>
		

			      
		
		
		
		 
			<p><%= submit_tag("Save Changes", :class => "btn btn-primary")%></p>
		
			<% end %>
  		</div>
	</div>
	</div>
</div>

<script>
var wrapper = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
var userImageFileInput = $('#user_user_images_attributes_0_attachment').wrap(wrapper);
var logoFileInput = $('#user_logo_image_attributes_attachment').wrap(wrapper);

userImageFileInput.change(function(){
    $this = $(this);
	$('#user_image_file').text($this.val());
})
logoFileInput.change(function(){
    $this = $(this);
	$('#logo_file').text($this.val());
})


$('#user_image_file').click(function(){
    userImageFileInput.click();
}).show();
$('#logo_file').click(function(){
    logoFileInput.click();
}).show();
</script>